body
	> section
		background #000

		.logopanel
			background #000
			padding 0

			img
				height 50px


.pageheader 
	h2
		> .fa
			border 0

		.avatar
			height 38px
			border-radius 50%

		.edit-link
			font-size inherit
			border 0
			cursor pointer

	.breadcrumb 
		li	
			text-transform capitalize

.subheaderbar
	display none
	padding 15px
	border-bottom 1px solid #d3d7db
	border-top 1px solid #eee
	background #fff
	position relative

	.slug-changer
		.control-label
			margin-top 7px
		.input-group-addon
			border-right 0
			background transparent
			padding-right 0
			padding-top 7px
		.input-slug
			border-left 0
			padding 7px 10px
			padding-left 0

		.input-slug:focus
			border 1px solid #ccc
			border-left 0
			box-shadow 0 0 0
		.error-placeholder
			display none
			color #a94442
			margin-top 6px
			margin-bottom -10px


.contentpanel
	overflow-y scroll

	> .alert-success
		border-color #3c763d

		.close
			color #3c763d
			opacity 1

.nav-bracket 
	> li 
		> a
			color #fff

.panel.panel-dark
	.panel-body
		.form-group
			border-top 0
	.panel-footer
		background #f5f5f5

.angel-list-card
	padding 0 6px
	margin-bottom 15px

	.panel
		.angel-list-card-content
			height 140px
			position relative

			> div
				min-height 140px
				padding 10px
				
			.has-pic
				padding-left 160px

				img
					width 140px
					height 140px
					position absolute
					top 0
					left 10px

			.add-btn
				position absolute
				bottom 10px
				right 20px 			

.search-box
	.btn-default-alt
		padding-bottom 7px
		padding-top 8px

#images
	img.selected
		border 3px solid blue

#loader
	padding 20px 0
	font-size 27px

	label
		color #999

// Utils
.image-uploader
	padding 10 px
	width 100%
	background white
	border 1px solid #ccc
	text-align center
	border-radius 3px

	img
		max-width 100%

.table-clickable td
	cursor pointer

.list-header
	margin-bottom 15px

	> div
		height	38px

	.title
		font-size 25px
		margin: 0;
		margin-top: 14px;

.fancy-label
	color #999
	text-transform uppercase
	font-family 'LatoBold'
	font-size 20px
	margin-top 12px
	text-align right

.error-label
	color #a94442

.form-horizontal
	legend
		padding: 20px 15px 2px;

.input-group.stand-alone		
	.input-group-addon
		border-right 0
		background #fcfcfc
		padding-right 0
		padding-top 7px
	input
		background #fcfcfc
		border 1px solid #ccc
		border-left 0
		box-shadow 0 0 0

#investments
	.investment
		background #eee
		margin 0 30px 5px
