<footer>
    <div class="center">
        <div class="row-2">
            <a href="/"><img src="img/500-white.png"></a>
        </div>
        <div class="row-3">
            <nav>
                <a href="/team">TEAM</a>
                <a href="/accelerator">ACCELERATOR</a>
                <a href="/startups">PORTFOLIO</a>
                <a href="/mentors">MENTORS</a>
                <a href="/events">EVENTS</a>
                <a href="/activity">ACTIVITY</a>
            </nav>
        </div>
        <div class="row-3">
            <ul class="pin">
                <li>
                    <p>Mexico City</p>
                    <p>Chihuahua 230, Colonia Roma, México, Distrito Federal 06700</p>
                </li>
                <li>
                    <p>Silicon Valley</p>
                    <p>444 Castro St, Suite 1200, Mountain View, CA 9404</p>
                </li>
            </ul>
        </div>
        <div class="row-4">
            <ul id="social">
                <li><a href=""><img src="img/facebook.png"></a></li>
                <li><a href=""><img src="img/twitter.png"></a></li>
                <li><a href=""><img src="img/linkedin.png"></a></li>
                <li><a href=""><img src="img/youtube.png"></a></li>
                <li><a href=""><img src="img/gplus.png"></a></li>
            </ul>
            <div class="clearfix"></div>
            <p><a href="">Jobs</a> | <a href="">Legal</a></p>
            <p>©2010–2014 500 Startups</p>
            <img src="img/partners/goco-footer.jpg">
        </div>
    </div>
    <div class="clearfix"></div>
</footer>