<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accelerator @500.co</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="portfolio" class="accelerator-top">
        <div id="search">
            <div class="center">
                <div class="container">
                    <h3>Build your startup and learn from the best.<br> All in one place.</h3>
                    <p>Take your startup to the next level with our 4-month accelerator programs in Mountain View, San Francisco, and Mexico City.</p>
                    <div class="video">
                        <div class="cover_video"></div>
                        <iframe width="785" height="442" src="//www.youtube.com/embed/fprPAliT1LQ?rel=0&loop=1&controls=0&autoplay=0&disablekb=1&fs=0&border=0&hd=1&showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <!--<a href="http://angel.co" class="apply_button outline">APPLY TODAY</a>-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        
        <div id="mentors" class="accelerator">
            <div class="center">
               <!-- <h3>Office space</h3>
                <p>Our fun, collaborative workspaces are where you'll build your products, meet other founders, and make friends that will last long after the program is over.</p>
                <dl id="locations" class="tabs" data-tab>
                    <dd class="active"><a href="#mountainview">MOUNTAIN VIEW</a></dd>
                    <dd><a href="#sanfrancisco">SAN FRANCISCO</a></dd>
                    <dd><a href="#mexicocity">MÉXICO CITY</a></dd>
                </dl>
                <div class="tabs-content">
                    <div class="content active" id="mountainview">
                        <div class="image-locations"><img src="/img/accelerator-mountainview.jpg"></div>
                    </div>
                    <div class="content" id="sanfrancisco">
                        <div class="image-locations"><img src="/img/accelerator-sanfrancisco.jpg"></div>
                    </div>
                    <div class="content" id="mexicocity">
                        <div class="image-locations"><img src="/img/accelerator-mexicocity.jpg"></div>
                    </div>
                </div>
               <h3>200+ Mentors Network</h3>
                <p>Mentors help our startups by 1:1 mentoring, office hours,<br>doing talks at the 500 office and more...</p>
                <ul class="mentors-network">
                    {% for mentor in mentors %}
                    <li>
                        <a href="/{{ mentor.slugStr }}">
                            <img src="{{ mentor.avatar }}">
                            <div class="content">
                                <p class="name">{{ mentor.displayName }}</p>
                                <p class="role">{{ mentor.title }}</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <a id="view-all" class="outline" href="/mentors">VIEW ALL</a>-->

                <h3>What do startups get out of the program?</h3>
                <p>Here are a few reasons why founders choose 500:</p>
                <ul class="area">
                    <li>
                        <div class="image-container"><img src="/img/icon_com.png"></div>
                        <h3>Community</h3>
                        <p>Starting a company is solitary and challenging. </p>
                        <p>Working with other people going through the same challenges makes a huge difference.</p>
                        <p>Founders who've gone through our program tell us that the 500 community is extremely valuable.</p>
                    </li>
                    <li>
                        <div class="image-container"><img src="/img/icon_advice.png"></div>
                        <h3>Advice</h3>
                        <p>You'll get access to a network of 1000+ founders, 200+ mentors, and our staff, who will give you guidance when you need it the most.</p>
                        <p>We've built startups before. We'll make sure you don't make the same mistakes we did.</p>
                    </li>

                    <li>
                        <div class="image-container"><img src="/img/icon_curriculum.png"></div>
                        <h3>Curriculum</h3>
                        <p>500 brings in a wide variety of experts focused on marketing, culture, startup accounting, product design, mobile, user testing, sales, and more.</p>
                        <p>It's like a Startup MBA on steroids.</p>
                       
                    </li>
                    <li>
                        <div class="image-container"><img src="/img/icon_hands.png"></div>
                        <h3>Hands-on support</h3>
                        <p>Startups live (some too literally) in our office for four months.</p>
                        <p>We'll work together on your business and product strategy, growth and metrics, and investor pitches.</p>
                    </li>
                    <li>
                        <div class="image-container"><img src="/img/icon_connections.png"></div>
                        <h3>Connections</h3>
                        <p>Thanks to our massive network, startups build relationships and partnerships that wouldn't be possible at their size without 500.</p>
                        <p>Need an intro to a customer? Early access to a new platform feature? API access blocked? Stuck at the border? We have connections.</p>
                        
                    </li>

                    <li>
                        <div class="image-container"><img src="/img/icon_money.png"></div>
                        <h3>Money</h3>
                        <p>Being a 500 Startups company will validate your business, and our network will help you connect with investors when the time is right.</p> 
                        <p>Our Demo Day is also a great opportunity to meet and pitch people who might give you $$$.</p>
                    </li>
                    <!--<li>
                        <div class="image-container"><img src="/img/icons-responsive.png"></div>
                        <h3>DESIGN</h3>
                        <p>Great products start with a great user experience—one that makes customers happy and brings them back for more.</p>
                        <p>We help startups design functional solutions, not just pretty pictures.</p>
                    </li>
                    <li>
                        <div class="image-container"><img src="/img/icons-data.png"></div>
                        <h3>DATA</h3>
                        <p>Successful startups can make informed product and marketing decisions, know how much customers are willing to pay, and what it costs to acquire them.</p>
                        <p>We help startups learn how to define and measure customer-driven metrics.</p>
                    </li>

                    <li>
                        <div class="image-container"><img src="/img/icons-distro.png"></div>
                        <h3>DISTRO</h3>
                        <p>Startups need scalable, cost-effective customer acquisition.</p>
                        <p>We specialize in distribution for search, social, and mobile platforms such as Google, Facebook, Twitter, YouTube, Apple, and Android.</p>
                    </li>-->
                </ul>
 <div class="clearfix"></div>
  <div class="center">
<h3 style="margin-top:40px">You'll have a place to work.</h3>
                <p>We believe startups learn more when they work side by side.</br> Many founders say that working with peers is the best part of 500.<br><br>Take a look at our work spaces:</p>
                <dl id="locations" class="tabs" data-tab>
                    <dd class="active"><a href="#mountainview">MOUNTAIN VIEW</a></dd>
                    <dd><a href="#sanfrancisco">SAN FRANCISCO</a></dd>
                    <dd><a href="#mexicocity">MÉXICO CITY</a></dd>
                </dl>
                <div class="tabs-content">
                    <div class="content active" id="mountainview">
                        <div class="image-locations"><img src="/img/accelerator-mountainview.jpg"></div>
                    </div>
                    <div class="content" id="sanfrancisco">
                        <div class="image-locations"><img src="/img/accelerator-sanfrancisco.jpg"></div>
                    </div>
                    <div class="content" id="mexicocity">
                        <div class="image-locations"><img src="/img/accelerator-mexicocity.jpg"></div>
                    </div>
                </div>
            </div>

                <div class="clearfix"></div>

           <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="apply">
            <div class="center">
                <h3>When to apply</h3>
                <dl id="apply-tabs" class="tabs" data-tab>
                    <dd class="active">
                        <a href="#apply1">MOUNTAIN VIEW</a>
                    </dd>
                    <dd>
                        <a href="#apply2">SAN FRANCISCO</a>
                    </dd>
                    <dd>
                        <a href="#apply3">MEXICO CITY</a>
                    </dd>
                </dl>
                <div class="tabs-content">
                    <div class="content active" id="apply1">
                        <h4>{{page.data['mountain-view']|safe}}</h4>
                    </div>
                    <div class="content" id="apply2">
                        <h4>{{page.data['san-francisco']|safe}}</h4>
                    </div>
                    <div class="content" id="apply3">
                        <h4>{{page.data['mexico-city']|safe}}</h4>
                    </div>
                </div>
            </div>
        </div> 


            </div>
        </div>
        <div class="deal">
            <div class="center">
                <h3>What’s the deal?</h3>
                <dl id="deal-tabs" class="tabs" data-tab>
                    <dd class="active">
                        <a href="#mountainview-and-sanfrancisco">MOUNTAIN VIEW & SAN FRANCISCO</a>
                    </dd>
                    <dd>
                        <a href="#mexico">MEXICO CITY</a>
                    </dd>
                </dl>
                <div class="tabs-content">
                    <div class="content active" id="mountainview-and-sanfrancisco">
                        <h3>We invest $100k in exchange for 7%, and charge a $25K program fee for a net $75K investment.</h3>
                    </div>
                    <div class="content" id="mexico">
                        <h3>We invest $40k in exchange for 10%, and charge a $12K program fee for a net $28K investment.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div id="special-bg">
            <div class="center">
                <h3>★ Featured Alumni ★</h3>
                <p>These awesome startups survived our 3-month program</p>
                <ul class="card">
                    {% for startup in startups %}
                    <li>
                        <a href="/{{ startup.slugStr }}">
                            <div class="content">
                                <div class="image-container"><img src="{{ startup.logo }}"></div>
                                <p class="title">{{ startup.name }}</p>
                                <p class="detail">{{ startup.investmentType }}</p>
                                <p>{{ startup.excerpt }}</p>
                                {% if startup.batch %}
                                <p class="footer">Batch {{startup.batch.name}}</p>
                                {% endif %}
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <div>
                    <a href="http://angel.co" class="apply_button outline">APPLY TODAY</a>
                </div>
            </div>

            <span class="bg"></span>
        </div>
        <div class="questions">
            <div class="center">
                <h3>Still have questions?</h3>
                <p>Read what founders think of our program on <a href="http://www.quora.com/500-Startups/What-is-it-like-being-in-500-Startups">Quora</a></p>
                <p>Send us a tweet <a href="http://twitter.com/500startups">@500startups</a></p>
            </div>
        </div>
    </section>
    {% include "../partials/footer.html" %}

<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
    $(document).foundation();
    $(document).ready(function(){
        $('#view-all').on('click', function () {
            window.location = '/mentors'
        });

        $('#apply').on('click', function () {
            window.location = '/'
        });


    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var lastScrollTop = 0;
        $(window).on('scroll', function(){
            $('#int').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){ $('#int').removeClass('animated'); });
            var busy = 0;
            var st = $(this).scrollTop();
            if (st > lastScrollTop && busy==0 && st>0){
                busy=1;
                $('#int').css('position','absolute').addClass('animated bounceInDown').attr('rel','bar_top');
            }
            if (st <= lastScrollTop){
                if( $('#int').attr('rel') == 'bar_top' ){
                    $('#int').attr('rel','1');
                    $('#int').css('position','fixed').addClass('animated bounceInDown');
                }
                else
                    $('#int').css('position','fixed');
            }
            lastScrollTop = st;
        });
    });
</script>

</body>
</html>