<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <title>Frequently Asked Questions - 500 Startups</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
    <script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
window.analytics.load("i3r08av9ee");
window.analytics.page();
</script>
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="legal">
        <div class="center">
            <h3>Accelerator <br>Frequently Asked Questions</h3>
            <h5><strong>Do you invest in the companies that go through the accelerator program?</strong></h5>
            <p>We invest in all companies at the start of the program. The accelerator investment for Batch 9 (Spring 2014) is $75k net of fees (or $100k gross &#8211; see next question) for 7% of your company.  The investment is structured as a convertible security (which is like a convertible note, but it is better for your company because it doesn’t accrue interest and doesn’t require payback in the future).</p>
            <p>The convertible security has certain special rights for 500 Startups, including a $500k follow-on right (or 20% of your next priced round, whichever is lower) which expires after the closing of your next priced round.</p>
            <h5><strong>Does it cost money to participate in the accelerator program?</strong></h5>
            <p>Technically, yes &#8211; but the program fees are deducted from the gross investment amount so you don’t actually come out of pocket for the fees. Beginning with Batch 9 (Spring 2014), we are charging $25k per company to participate in the program.  As mentioned above, our gross investment is $100k, and once program fees are deducted, you will receive a net wire of $75k.  These program fees help to cover basic costs of running the accelerator program and should be viewed like tuition.</p>
            <h5><strong>What’s the difference between the Mountain View program and the San Francisco program?</strong></h5>
            <p>Location, location, location. The Mountain View batches take place at the 500 HQ in Mountain View. The San Francisco batches take place at our new SF office. If anything, we focus on the LACK of difference between the two locations. You’ll get access to the same awesome network, same mentors, and same top-notch curriculum. Our Mountain View program takes place in spring and fall, while our San Francisco program happens in winter and summer.</p>
            <h5><strong>What are the dates for the next 500 Accelerator Batch?</strong></h5>
            <p>Our next accelerator (Batch 11) will begin in October and take place in Mountain View. Applications for Batch 12 in San Francisco will open up in the next few months.</p>
            <h5><strong>What will I get out of being in the 500 Accelerator Program?</strong></h5>
            <p><strong>Mentorship:</strong> One of the biggest benefits of going through the 500 Startups Accelerator program is having access to knowledgeable <a href="http://500.co/mentors/">mentors</a>. As founders going through the program, you will have access to the 500 Partners, seasoned entrepreneurs, experienced investors, or individuals with considerable expertise in their field to give feedback and offer you guidance. We also host numerous talks and fireside chats. These speakers include top domain experts on important topics such as distribution, design, data, fundraising, and more.</p>
            <p><strong>Access to the 500 Family:</strong> The 500 Startups network (which we often refer to as the “500 Family”) consists of over 1000 company founders and over 200 mentors. They come from diverse backgrounds, areas of expertise, and locations. You’ll be connected to a growing list of engineers, designers, marketers, and founders from not just Silicon Valley or other parts of the U.S., but also markets in Europe, Brazil, Mexico, India, China, Japan, Russia, and more.</p>
            <p><strong>Help with Distribution:</strong> We have in-house distribution experts that will help you GROW, GROW, GROW. Whether it’s trigger emails, event-based analytics, SEO, paid ads, or sneaky growth tactics, we’ll help you get your business where it needs to be. Learn more about our methods <a href="http://500.co/tag/distribution/">here. </a></p>
            <p><strong>Brand and PR:</strong> 500 Startups is ranked as one of the top 5 accelerator programs worldwide and one of the most active seed stage investors in the universe. The 500 brand draws an impressive group of people, ranging from investors, strategic corporates, platform partners, press, and even the <a href="http://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2013/04/gtakei.jpg">occasional celebrity.</a> In addition, we run events and conferences throughout the year that are consistently sold out. We always like to feature our companies at these events. All of this means great exposure and visibility for your company.</p>
            <p><strong>Killer Co-working Spaces:</strong> We have a 10,000 sq ft <a href="http://www.youtube.com/watch?v=3tsbISFI6-s&amp;feature=BFa&amp;list=PL571BAAD2DFD8F8C7">office </a>in the heart of downtown Mountain View with the best views of Silicon Valley:</p>
            <p>The SF space is equally spectacular &#8211; pictures to come soon!!</p>
            <p>During the 500 Accelerator, you’ll work in either the Mountain View or San Francisco office, along with your batchmates. Everyone offers help, advice, encouragement, and support to help others succeed. Previous batches have likened it to the most awesome summer camp they’ve ever attended. In fact, many founders have said the most important relationships they’ve developed while in the 500 Accelerator are with their batchmates.</p>
            <p><strong>FUN:</strong> The 500 culture is best described in one hashtag: #500STRONG. This means collaboration and support, creativity, taking risks, embracing failure, transparency, and moving quickly. We want you to push yourself past your comfort zone and take your company to the next level. You’ll be working hard, but we also believe in “fun at all costs.” Past batches have <a href="http://youtu.be/38bq7SgpxNk">danced to Thriller</a>, created awesome videos to announce themselves in press (like <a href="http://youtu.be/SC1TPO3D06I">Sh*t 500 Say</a>s, <a href="http://youtu.be/NLTriRxzShQ">The Funding Games</a>, <a href="http://www.youtube.com/watch?v=cKVScfsmQ-o" target="_blank">Thrift(y) Startup</a>, and <a href="http://www.youtube.com/watch?v=yP1FHKgiW8k" target="_blank">We’ll Never Be Normal</a>), and often spend long hours working alongside each other. We come together as a tribe, bringing together many international cultures, backgrounds, and personalities.</p>
            <h5><strong>What are some companies that have gone through the 500 Accelerator?</strong></h5>
            <p>Examples include Punchd (acquired by Google), InternMatch, 9GAG, ToutApp, BrightNest (acquired by Angie’s List), PicCollage, Fitocracy, Chalkable (acquired by STI), Spinnakr, Bombfell, CompStak, TouristEye (acquired by Lonely Planet), and more. <a href="http://500.co/startups">See the complete list here.</a></p>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    $(document).foundation();
</script>
<script src="/js/header.js"></script>

</body>
</html>