<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <title>#500strong - 500 Startups</title>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/bxslider.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
    {% if page.data.backgroundImage %}
    <style type="text/css">section#home{background-image: url({{page.data.backgroundImage}}) }</style>
    {% endif %}
    <script src="/js/google-analytics.js"></script>
<script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
window.analytics.load("i3r08av9ee");
window.analytics.page();
</script>
</head>
<body>

    <section id="home">
        <!--<div id="ribbon">
        <p>LIVE NOW: WATCH THE PREMONEY LIVESTREAM <a href="http://premoney.co">here</a></p></div><-->
        {% include "../partials/navbar.html" %}
        <div id="splash_text" class="center">
            <div id="over-text">
                <h1>{{ page.data.splashTitle }}</h1>
                <p>{{ page.data.splashSubtitle }}</p>
                <button id="your-move" rel="0">{{ page.data.splashButton }}</button>
            </div>
        </div>
        <div class="over-shadow" style="background-image: url(/img/over-staff-member-lite.png);"></div>
    </section>
    {% include "../partials/navbar.html" with {currentPage: 'about'} %}
    <section id="entrepreneurs">
        <div class="center">
            <ul class="bxslider">
                <li>
                    <h3>“Every day at 500 Startups is a master class in<br>how to build a kickass startup.”</h3>
                    <p>@CynthiaSchames </p>
                </li>
                <li>
                    <h3>“500 Startups changed our company's <br>trajectory.”</h3>
                    <p>@thebernieyoo</p>
                </li>
                <li>
                    <h3>“Having everyone working out of the same space<br>pushed everyone to be better and iterate faster.“</h3>
                    <p>@georgefavvas </p>
                </li>
                <li>
                    <h3>“Yes, Dave’s crazy.”</h3>
                    <p>Anonymous founder</p>
                </li>
            </ul>
                                                                          
            <div class="video">
                <iframe width="960" height="541" src="//www.youtube.com/embed/xg1Mw0ySdP8?&rel=0&loop=1&controls=0&autoplay=0&disablekb=1&fs=0&border=0&hd=1&showinfo=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
          <section id="team-home" class="videobg">
         
            <p>500 Startups isn't just a name — we really have invested in over 500 companies.<br>The numbers speak for themselves.</p>
        <ul id="date-500">
            <li>
                <h2>500+</h2>
                <p>companies</p>
            </li>
            <li>
                <h2>40+</h2>
                <p>countries</p>
            </li>
            <li>
                <h2>1000+</h2>
                <p>entrepreneurs</p>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div class="center button-container">
            <a href="/startups" class="outline">MEET THE STARTUPS</a>
        </div>
    </section>
         <div class="clearfix"></div>

    </section>
    <section id="map-container">
        <h4>Diversity is not just a strategy or tactic.<br>It’s who we are.</h4>
        <div id="map">
            <img id="map-image" src="/imgs/map/map.png">
            <img id="map-dots" src="/imgs/map/pins.png">
            <img id="map-names" src="/imgs/map/names.png">
        </div>
        <div class="center">
            <div id="info_square">
                <img src="/img/people.png"><p>People</p>
                <img src="/img/primary.png"><p>Primary Geographies</p>
                <img src="/img/countries.png"><p>Countries where we’ve invested</p>
            </div>
            <p>We're based in Silicon Valley, but the 500 Family exists all over the world. </p>
            <p>No matter where you’re from or who you are, we’ll welcome you with open arms.</p>
            <a class="outline" href="/team">GET TO KNOW OUR TEAM</a>
        </div>
    </section>
    <section id="team-home">
        <ul id="date-500">
            <h3>Think you're crazy? We are too.</h3>
            <p>We invest in all kinds of companies, but here are a few of the themes we care about:</p>
        </ul>
        <div class="clearfix"></div>
    </section>
    <section id="themes">
        <div class="center">
            <div class="line">
                <a href="/consumer-commerce" class="zoom"><div><img src="/img/icons-consumer.png"> <span>consumer<br>commerce</span></div></a>
                <a href="/family-tech-and-education"><div><img src="/img/icons-education.png"> <span>family tech<br>and education</span></div></a>
                <a href="/design"><div><img src="/img/icons-design.png"> <span>design</span></div></a>
                <a href="/smb-productivity-cloud-services"><div><img src="/img/icons-cloud.png"> <span>smb productivity<br>& cloud services</span></div></a>
            </div>
            <div class="line">
                <a href="/international-emerging-markets"><div><img src="/img/icons-international.png"> <span>international /<br>emerging markets</span></div></a>
                <a href="/food-tech-digital-healthcare"><div><img src="/img/icons-food.png"> <span>food tech +<br>digital healthcare</span></div></a>
                <a href="/mobile-tablet"><div><img src="/img/icons-mobile.png"> <span>mobile + tablet<br>(ios and android)</span></div></a>
                <a href="/payments-and-financial-services"><div><img src="/img/icons-payments.png"> <span>payments and <br>financial services</span></div></a>
            </div>
            <div class="line">
                <a href="/online-video"><div><img src="/img/icons-online.png"> <span>online video</span></a></div>
                <a href="/bitcoin"><div><img src="/img/icons-bitcoin.png"> <span>Bitcoin</span></div></a>
                <a href="/mobile-tablet"><div><img src="/img/icons-gaming.png"> <span>Gaming</span></div></a>
                <a href="/payments-and-financial-services"><div><img src="/img/icons-adtech.png"> <span>Ad tech</span></div></a>
            </div>
            <div class="center button-container">
            <a class="outline" href="/startups">SEE ALL OUR STARTUPS</a>
        </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section id="help-startups">
        <div class="center">
            <h3>Build something amazing. We're banking on it.</h3>
            <p class="subtitle">Whether you're just starting out or raising your next round, we have the resources you're looking for. </p>
            <div class="row-5">
                <h3>Accelerator</h3>
                <p>Execution is everything. With our 4-month accelerator program  you'll get access to awesome mentorship, hands-on sessions with startup experts, and a great office space where you'll work with other smart, talented founders from around the world. </p>
                <p>We run our accelerator program in Mountain View, </br>San Francisco and Mexico City. Think you're ready?</p>
                <a class="outline" href="/accelerator">APPLY NOW</a>
            </div>
            <div class="row-7">
                <ul>
                {% for startup in acceleration %}
                    <li><a href="/{{startup.slugStr}}"><img src="{{startup.logo}}"><br><strong>{{startup.name}}</strong><br><span>{{startup.investmentType}}</span></a></li>
                {% endfor %}
                </ul>
                <a href="/startups?investmentType=acceleration" class="all-companies">All accelerator companies</a>
            </div>
            <div class="clearfix"></div>
            <div class="row-5">
                <h3>Seed Program</h3>
                <p>Have your shit together? We fund startups with traction through investments that range from $25K - $250K.</p>
                <p>You'll get all the perks of being in 500 too - like access to our vast network of investors, partners and founders.</p>
                <p><STRONG>Positive referrals from 500 founders and mentors is the best way to get attention.</br>Don’t email Dave.</STRONG></p>
            </div>
            <div class="row-7">
                <ul>
                    {% for startup in seed %}
                    <li><a href="/{{startup.slugStr}}"><img src="{{startup.logo}}"><br><strong>{{startup.name}}</strong><br><span>{{startup.investmentType}}</span></a></li>
                    {% endfor %}
                </ul>
                <a href="/startups?investmentType=seed" class="all-companies">All seed companies</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="amazing">
        <div class="center">
            <h3>Up and coming.</h3>
            <p>These startups are new to the 500 family. And they're awesome.</p>
            <ul class="card">
                {% for startup in stars %}
                <li>
                    <a href="/{{startup.slugStr}}">
                        <div class="content">
                            <div class="image-container"><img src="{{startup.logo}}"></div>
                            <p class="title">{{startup.name}}</p>
                            <p class="detail">{{startup.investmentType}}</p>
                            <p class="excerpt">{{startup.excerpt}}</p>
                            {% if startup.batch %}
                            <p class="footer">{{startup.batch.name}}</p>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
            <div class="separator"></div>
            <h3>We have friends in the business.</br>Meet our annual partners:</h3>
            <p class="sub">Platinum Annual Partners</p>
            <ul class="amazing-partners">
                <li><img src="/imgs/partners/rackspace.jpg"></li>
                <li><img src="/imgs/partners/goco.jpg"></li>
                <li><img src="/imgs/partners/softlayer.jpg"></li>
                <li><img src="/imgs/partners/sendgrid.png"></li>
            </ul>
            <p class="sub">Gold Annual Partners</p>
            <ul class="amazing-partners">
                <li><img src="/imgs/partners/aws_logo.jpg"></li>
                <li><img src="/imgs/partners/mailchimp_logo.jpg"></li>
                <li><img src="/imgs/partners/xero_logo.jpg"></li>
                <li><img src="/imgs/partners/samsung_logo.jpg"></li>
                <li><img src="/imgs/partners/qualcomm_logo.jpg"></li>
                <li><img src="/imgs/partners/paypal_logo.jpg"></li>
            </ul>
            <p class="sub">Silver Annual Partners</p>
            <ul class="amazing-partners">
                <li><img src="/imgs/partners/gunderson_logo.jpg"></li>
            </ul>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script src="/js/vendors/jquery.scrollTo.min.js"></script>
<script src="/js/bxslider.min.js"></script>
<script>
    window.mapShown = false;
    window.mapAnimation = function(e){
        var mapContainerPosition = $('#map-container').position();

        if($(window).scrollTop() + $(window).height() > mapContainerPosition.top + 200 && !window.mapShown){
            window.mapShown = true;

            $('#map-container #map img#map-dots').animate({top:0}, 1000, 'swing', function(){
                $('#map-container #map img#map-names').fadeIn()
            });
        }
    };

    $(document).foundation();
    $(document).ready(function () {

        setInterval(function(){
            if($('#your-move').attr('rel')==0){
                $('#your-move').removeClass().addClass('tada animated').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){
                    $(this).removeClass();
                });
            }
        }, 4000);


        $('.bxslider').bxSlider({
            auto: true,
            mode: 'fade',
            pager: false,
            controls: false,
            pause: 3000
        });

        //MOVE SCROLL BUTTON
        $('body').css('overflow','hidden');
        $('#int').fadeOut(0);

        $('#your-move').on('click',function(){
            $(this).attr('rel','1');
            window.scrollTo(0,0);
            $('body').css('overflow','auto');
            $('#home').css('position', 'relative');
            var e_pos = $('#entrepreneurs').position();

            // Disable scroll animation in Firefox
            if( typeof InstallTrigger === 'undefined' ){
                $('html , body').animate( {scrollTop : e_pos.top+'px'},400,function(){
                    $('body').scrollTop(scroll-e_pos.top);
                });
            }
            $('#home').fadeOut();
            $('#fixadent').fadeOut();
            $('#int').fadeIn(0).addClass('animated bounceInDown');

            var lastScrollTop = 0;
            $(window).on('scroll', function(){
                $('#int').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){ $('#int').removeClass('animated'); });
                var busy = 0;
                var st = $(this).scrollTop();
                if (st > lastScrollTop && busy==0 && st>0){
                    busy=1;
                    $('#int').css('position','absolute').addClass('animated bounceInDown').attr('rel','bar_top');
                }
                if (st <= lastScrollTop){
                    if( $('#int').attr('rel') == 'bar_top' ){
                        $('#int').attr('rel','1');
                        $('#int').css('position','fixed').addClass('animated bounceInDown');
                    }
                    else
                        $('#int').css('position','fixed');
                }
                lastScrollTop = st;
            });
        });

        $(window).on('scroll', window.mapAnimation);
    });
</script>
</body>
</html>