<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500.co</title>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="home">
        <div class="center">
            <h1>WE ARE 500 STRONG</h1>
            <p>Meet the most badass, global family of startup founders, mentors and investors</p>
            <button>YOUR MOVE</button>
        </div>
    </section>
    <section id="entrepreneurs">
        <div class="center">
            <h4>In the last 3 years, we've helped over 1000 entrepreneurs around the world build their startups.</h4>
            <iframe src="http://player.vimeo.com/video/73616070" width="785" height="441" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>500 Startups is a seed fund and startup accelerator founded in 2010.</p>
            <p>We're based in Silicon Valley, but our 500 family exists all over the world.</p>
        </div>
    </section>
    <section>
        <div id="mapa">
            <img src="/img/mapa.jpg">
        </div>
    </section>
    <section id="team-home">
        <ul id="date-500">
            <li>
                <h2>500+</h2>
                <p>funded companies</p>
                <!--<a href="">Browse our portfolio</a>-->
                <button class="outline">See all our companies</button>
            </li>
            <li>
                <h2>40+</h2>
                <p>over 40 countries</p>
            </li>
            <li>
                <h2>1000+</h2>
                <p>entrepreneurs funded</p>
            </li>
        </ul>
        <div class="clearfix"></div>
        <div id="team-list">
            <div class="center">
                <p>We think having a friendly, colorful #500Strong family makes us stronger, smarter, and more fun.</p>
                <p>No matter where you’re from or who you are, we’ll welcome you with open arms.</p>
                <button class="outline">GET TO KNOW OUR TEAM</button>
            </div>
            <ul>
                <li><img src="/img/team/team-1.jpg"></li>
                <li><img src="/img/team/team-2.jpg"></li>
                <li><img src="/img/team/team-3.jpg"></li>
                <li><img src="/img/team/team-4.jpg"></li>
                <li><img src="/img/team/team-5.jpg"></li>
                <li><img src="/img/team/team-6.jpg"></li>
                <li><img src="/img/team/team-7.jpg"></li>
                <li><img src="/img/team/team-8.jpg"></li>
                <li><img src="/img/team/team-9.jpg"></li>
                <li><img src="/img/team/team-10.jpg"></li>
                <li><img src="/img/team/team-11.jpg"></li>
                <li><img src="/img/team/team-12.jpg"></li>
                <li><img src="/img/team/team-13.jpg"></li>
                <li><img src="/img/team/team-14.jpg"></li>
                <li><img src="/img/team/team-15.jpg"></li>
                <li><img src="/img/team/team-16.jpg"></li>
                <li><img src="/img/team/team-17.jpg"></li>
                <li><img src="/img/team/team-18.jpg"></li>
                <li><img src="/img/team/team-19.jpg"></li>
                <li><img src="/img/team/team-20.jpg"></li>
                <li><img src="/img/team/team-21.jpg"></li>
                <li><img src="/img/team/team-22.jpg"></li>
                <li><img src="/img/team/team-23.jpg"></li>
                <li><img src="/img/team/team-24.jpg"></li>
                <li><img src="/img/team/team-25.jpg"></li>
                <li><img src="/img/team/team-26.jpg"></li>
                <li><img src="/img/team/team-27.jpg"></li>
                <li><img src="/img/team/team-28.jpg"></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </section>
    <section>
        <div class="center">
            <div class="line">
                <p>We invest in companies that focus on:</p>
                <div><img src="/img/icons-consumer.png"> <span>consumer<br>commerce</span></div>
                <div><img src="/img/icons-education.png"> <span>family tech<br>and education</span></div>
            </div>
            <div class="line">
                <div><img src="/img/icons-design.png"> <span>design</span></div>
                <div><img src="/img/icons-cloud.png"> <span>smb productivity<br>& cloud services</span></div>
                <div><img src="/img/icons-international.png"> <span>international /<br>emerging markets</span></div>
                <div><img src="/img/icons-food.png"> <span>food tech +<br>digital healthcare</span></div>
            </div>
            <div class="line">
                <div><img src="/img/icons-mobile.png"> <span>mobile + tablet<br>(ios and android)</span></div>
                <div><img src="/img/icons-payments.png"> <span>payments and <br>financial services</span></div>
                <div><img src="/img/icons-online.png"> <span>online video</span></div>
                <div><img src="/img/icons-bitcoin.png"> <span>Bitcoin</span></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section id="help-startups">
        <div class="center">
            <h4>How we help startups</h4>
            <div class="row-5">
                <h5>Acceleration</h5>
                <p>Take your startup to the next level with our 4-month accelerator program in Mountain View, San Francisco, and Mexico City.</p>
                <p>Work alongside other smart, talented founders from around the world, and finish your time in the program by pitching to top-notch investors at Demo Days.</p>
                <button>LEARN MORE</button>
            </div>
            <div class="row-7">
                <p>These startups went through our acceleration program</p>
                <ul>
                    <li><img src="/img/startups/twilio.jpg"><br><span>$70M Series D</span></li>
                    <li><img src="/img/startups/creditokarma.jpg"><br><span>$30M Series B</span></li>
                    <li><img src="/img/startups/sendgrid.jpg"><br><span>$21.5M Series B</span></li>
                    <li><img src="/img/startups/twilio.jpg"><br><span>$70M Series D</span></li>
                    <li><img src="/img/startups/creditokarma.jpg"><br><span>$30M Series B</span></li>
                    <li><img src="/img/startups/sendgrid.jpg"><br><span>$21.5M Series B</span></li>
                </ul>
                <a href="">Browse more</a>
            </div>
            <div class="clearfix"></div>
            <div class="row-5">
                <h5>Seed fund</h5>
                <p>We fund companies outside our accelerator program, with investments in ranging from $25K - $250K. </p>
                <p>Become part of the 500 family and get access to our awesome (and expansive) community of mentors, founders, and partners. </p>
                <button class="outline">GET MONEY</button>
            </div>
            <div class="row-7">
                <p>These startups went through our acceleration program</p>
                <ul>
                    <li><img src="/img/startups/twilio.jpg"><br><span>$70M Series D</span></li>
                    <li><img src="/img/startups/creditokarma.jpg"><br><span>$30M Series B</span></li>
                    <li><img src="/img/startups/sendgrid.jpg"><br><span>$21.5M Series B</span></li>
                    <li><img src="/img/startups/twilio.jpg"><br><span>$70M Series D</span></li>
                    <li><img src="/img/startups/creditokarma.jpg"><br><span>$30M Series B</span></li>
                    <li><img src="/img/startups/sendgrid.jpg"><br><span>$21.5M Series B</span></li>
                </ul>
                <a href="">Browse more</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section id="amazing">
        <div class="center">
            <h4>Rising stars</h4>
            <p>Just a few companies in our current batch</p>
            <ul class="card">
                <li>
                    <div class="content">
                        <div class="image-container"><img src="/img/startups/wildfire.jpg"></div>
                        <p class="title">WILDFIRE</p>
                        <p class="detail">Acquired by Google</p>
                        <p>Connecting people who need a service with professionals...</p>
                        <p class="footer">WINTER 2013</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="image-container"><img src="/img/startups/makerbot.jpg"></div>
                        <p class="title">WILDFIRE</p>
                        <p class="detail">Acquired by Google</p>
                        <p>Connecting people who need a service with professionals...</p>
                        <p class="footer">WINTER 2013</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="image-container"><img src="/img/startups/viki.jpg"></div>
                        <p class="title">WILDFIRE</p>
                        <p class="detail">Acquired by Google</p>
                        <p>Connecting people who need a service with professionals...</p>
                        <p class="footer">WINTER 2013</p>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <div class="image-container"><img src="/img/startups/wildfire.jpg"></div
                        <p class="title">WILDFIRE</p>
                        <p class="detail">Acquired by Google</p>
                        <p>Connecting people who need a service with professionals...</p>
                        <p class="footer">WINTER 2013</p>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
            <div class="separator"></div>
            <h4>Thanks to our amazing partners</h4>
            <p class="sub">Platinum Annual Partners</p>
            <ul class="amazing-partners">
                <li><img src="/img/partners/rackspace.jpg"></li>
                <li><img src="/img/partners/goco.jpg"></li>
                <li><img src="/img/partners/softlayer.jpg"></li>
            </ul>
            <p class="sub">Gold Annual Partners</p>
            <ul class="amazing-partners">
                <li><img src="/img/partners/rackspace.jpg"></li>
                <li><img src="/img/partners/goco.jpg"></li>
                <li><img src="/img/partners/softlayer.jpg"></li>
            </ul>
            <p class="sub">Silver Annual Partners</p>
            <ul class="amazing-partners">
                <li><img src="/img/partners/rackspace.jpg"></li>
                <li><img src="/img/partners/goco.jpg"></li>
                <li><img src="/img/partners/softlayer.jpg"></li>
            </ul>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    $(document).foundation();
</script>
<script src="/js/500.js"></script>
</body>
</html>