<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{mentor.displayName}} @500.co</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
</head>
<body class="layer-single">
    {% include "../partials/navbar.html" %}
    <section id="mentor-single">
        <div class="center">
            <div class="archive">
                <div class="head-info">
                    <div class="image-container"><img src="{{mentor.avatar}}"></div>
                    <div class="name">
                        <h2>{{mentor.displayName}}</h2>
                        <h4>{{mentor.title}}</h4>
                    </div>
                </div>
                <ul class="info">
                    {% if mentor.location %}<li class="location">{{mentor.location}}</li>{% endif %}
                    {% if mentor.link %}<li class="web"><a target="_blank" href="{{mentor.link}}">{{mentor.link|domain}}</a></li>{% endif %}
                </ul>
                {% if mentor.expertise.length %}
                <h6>Expertise</h6>
                <ul class="expertise">
                {% for expertise in mentor.expertise %}
                    <li>{{expertise}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <div class="clearfix"></div>
                <p>{{mentor.bio|safe}}</p>
                <ul class="social-connect">
                {% if mentor.angelListData.name %}
                    <li>
                        <a target="_blank" href="{{ mentor.angelListData.angellist_url }}">
                            <img class="has-retina" src="{{"angellist"|socialEmoticon()}}" alt="angellist">
                        </a>
                    </li>
                {% endif %}
                {% for profile in mentor.profiles %}
                    {% if profile.url %}
                    <li>
                        <a target="_blank" href="{{profile.url|socialUrl(profile.provider)}}">
                            <img class="has-retina" src="{{profile.provider|socialEmoticon()}}" alt="{{profile.provider}}">
                        </a>
                    </li>
                    {% endif %}
                {% endfor%}
                </ul>
            </div>
            <!--div class="next-mentor"><a href="/utils/mentors/random"><img src="/img/clear.png"></a></div-->
            <div class="clearfix"></div>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
    var measure = function () {
        $el = $('body.layer-single #mentor-single .center .archive');
        $('section#mentor-single .next-mentor a img').height( $el.outerHeight() - 12 );
    }
    $(document).foundation();
    $(document).ready(measure);
    $(window).load(measure);
    $(window).resize(measure);
</script>
</body>
</html>