<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <title>{{mentor.displayName}} - 500 Startups Mentors</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
    <script src="/js/google-analytics.js"></script>
    <script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
window.analytics.load("i3r08av9ee");
window.analytics.page();
</script>
</head>
<body class="layer-single">
    {% include "../partials/navbar.html" %}
    <section id="mentor-single">
        <div class="center">
            <div class="archive">
                <div class="image-container">
                    <img src="{{mentor.avatar}}">
                </div>
                <div class='head-body'>
                    <div class="name">
                        <h2>{{mentor.displayName}}</h2>
                        <h4>{{mentor.title}}</h4>
                    </div>
                    <ul class="info">
                        {% if mentor.location %}<li class="location">{{mentor.location}}</li>{% endif %}
                        {% if mentor.link %}<li class="web"><a target="_blank" href="{{mentor.link}}">{{mentor.link|domain}}</a></li>{% endif %}
                    </ul>
                    {% if mentor.expertise.length %}
                    <h6>Expertise</h6>
                    <ul class="expertise">
                    {% for expertise in mentor.expertise %}
                        <li>{{expertise}}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="bio">{{mentor.bio|safe}}</div>
                    <ul class="social-connect">
                    {% if mentor.angelListData.name %}
                        <li>
                            <a target="_blank" href="{{ mentor.angelListData.angellist_url }}">
                                <img class="has-retina" src="{{"angellist"|socialEmoticon()}}" alt="angellist">
                            </a>
                        </li>
                    {% endif %}
                    {% for profile in mentor.profiles %}
                        {% if profile.url %}
                        <li>
                            <a target="_blank" href="{{profile.url|socialUrl(profile.provider)}}">
                                <img class="has-retina" src="{{profile.provider|socialEmoticon()}}" alt="{{profile.provider}}">
                            </a>
                        </li>
                        {% endif %}
                    {% endfor%}
                    </ul>
                </div>
            </div>
            <!--div class="next-mentor"><a href="/utils/mentors/random"><img src="/img/clear.png"></a></div-->
            <div class="clearfix"></div>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
    var measure = function () {
        $el = $('body.layer-single #mentor-single .center .archive');
        $('section#mentor-single .next-mentor a img').height( $el.outerHeight() - 12 );
    }
    $(document).foundation();
    $(document).ready(measure);
    $(window).load(measure);
    $(window).resize(measure);
</script>
</body>
</html>