<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentors @500.co</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="portfolio" class="mentors">
        <div id="search">
            <div class="center">
                <div class="container">
                    <h3>Search the 200+ mentors in our family</h3>
                    <ul class="amazing-partners">
                        <li><img src="/imgs/partners/rackspace.jpg"></li>
                        <li><img src="/imgs/partners/goco.jpg"></li>
                        <li><img src="/imgs/partners/softlayer.jpg"></li>
                        <li><img src="/imgs/partners/sendgrid.png"></li>
                    </ul>
                    <h5>Take your startup to the next level with our 4-month accelerator programs in Mountain View, San Francisco, and Mexico City.</h5>
                    <input id="searchbox" type="search" placeholder="search" value="{{ query }}">
                    <p><span>Try Christine Herron, Facebook, ecommerce</span></p>                    
                    <ul id="filter">
                        <li>Filter results by:</li>
                        <li class="drop" data-name="expertise">
                            <span>Expertise</span>
                            <ul class="submain">
                            {% for expertise in expertises %}
                                <li data-value="{{expertise}}"><a href="">{{expertise}}</a></li>
                            {% endfor%}
                            </ul>
                        </li>
                        <li class="drop" data-name="location">
                            <span>Location</span>
                            <ul class="submain" >
                            {% for location in locations %}
                                <li data-value="{{location}}"><a href="">{{location}}</a></li>
                            {% endfor%}
                            </ul>
                        </li>
                        <li>Order results by:</li>
                        <li class="drop active" data-name="sort">
                            <span>New Mentors first</span>
                            <ul class="submain">
                                <li class="active" data-value="time"><a href="">New Mentors first</a></li>
                                <li data-value="displayName"><a href="">A - Z</a></li>
                                <li data-value="-displayName"><a href="">Z - A</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="mentors">
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script type="text/template" id="listTemplate">
    <ul class="list-container">
    </ul>
    <div class="clearfix"></div>
</script>
<script type="text/template" id="listItemTemplate">
    <li class="animated flipInX">
        <a href="/<%= item.slugStr %>">
        
            <img src="<%= item.avatar %>">
            <div class="content">
                <p class="name"><%= item.displayName %></p>
            </div>
        </a>
    </li>
</script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendors/underscore.js"></script>
<script src="/js/vendors/backbone.js"></script>
<script src="/js/init.js"></script>
<script src="/js/widgets/list.js"></script>
<script src="/js/app/mentors.js"></script>    
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    window.mentors = {{mentors|json|safe}};
    {% if queryMentors %}
    window.queryMentors = {{queryMentors|json|safe}};
    {% endif %}

    $(document).foundation();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var lastScrollTop = 0;
        $(window).on('scroll', function(){
            $('#int').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){ $('#int').removeClass('animated'); });
            var busy = 0;
            var st = $(this).scrollTop();
            if (st > lastScrollTop && busy==0 && st>0){
                busy=1;
                $('#int').css('position','absolute').addClass('animated bounceInDown').attr('rel','bar_top');
            }
            if (st <= lastScrollTop){
                if( $('#int').attr('rel') == 'bar_top' ){
                    $('#int').attr('rel','1');
                    $('#int').css('position','fixed').addClass('animated bounceInDown');
                }
                else
                    $('#int').css('position','fixed');
            }
            lastScrollTop = st;
        });
    });
</script>
</body>
</html>