<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=320"/>
    <title>Mentor Network - 500 Startups</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
    <script src="/js/google-analytics.js"></script>
    <script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
window.analytics.load("i3r08av9ee");
window.analytics.page();
</script>
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="portfolio" class="mentors">
        <div id="search">
            <div class="center">
                <div class="container">
                    <h3>Our mentors know (almost) everything</h3>
                    <h5>Whether it's growth, design, or even bitcoin, </br>you'll find a mentor who can help.</h5>
                    <input id="searchbox" type="search" placeholder="Try UX or fundraising" value="{{ query }}">
                    <p class="place_holder_search"><span>Search our mentor network by name, expertise or related companies.</span></p>

                    <ul id="filter_cool">
                        <li>Show me experts in</li>
                        <li id="filter_cat" class="filter_cool"><span>everything</span> <div class="filter_img"></div></li>
                    </ul>

                    <div id="filters_cool">
                        <div id="filter_cat_content" class="filter_content arrow_box" data-select-box="#filter_cat">
                            <ul class="filter_header">
                                <li rel="filter_cat_content" id="filter_car_all">All</li>
                            </ul>
                            <ul>
                                {% for expertise in expertises %}
                                {% if loop.index0 % 3 == 0 %}
                                <li rel="filter_cat_content" data-value="{{expertise}}">{{expertise}}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <ul>
                                {% for expertise in expertises %}
                                {% if loop.index0 % 3 == 1 %}
                                <li rel="filter_cat_content" data-value="{{expertise}}">{{expertise}}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <ul>
                                {% for expertise in expertises %}
                                {% if loop.index0 % 3 == 2 %}
                                <li rel="filter_cat_content" data-value="{{expertise}}">{{expertise}}</li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="filter_place_content" class="filter_content arrow_box" data-select-box="#filter_place">
                            <ul class="filter_header">
                                <li rel="filter_place_content"  id="filter_place_all" {% if !params.seed && !params.locationgroup && !params.location %}class="active"{% endif %}>All</li>
                            </ul>
                            <ul>
                                <li rel="filter_place_content"  class="title_filter{% if params.locationgroup == 'us' %} active{% endif %}" data-value="us" data-type="category">US cities</li>
                                {% for location in locations.us %}
                                <li rel="filter_place_content" data-value="{{location}}" {% if params.location == location %}class="active"{% endif %}>{{location}}</li>
                                {% endfor %}
                            </ul>
                            <ul>
                                <li rel="filter_place_content"  class="title_filter{% if params.locationgroup == 'world' %} active{% endif %}" data-value="world" data-type="category">Countries</li>
                                {% for location in locations.world %}
                                <li rel="filter_place_content" data-value="{{location}}" {% if params.location == location %}class="active"{% endif %}>{{location}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- <ul id="filter">
                        <li>Filter results by:</li>
                        <li class="drop" data-name="expertise">
                            <span>Expertise</span>
                            <ul class="submain">
                            {% for expertise in expertises %}
                                <li data-value="{{expertise}}"><a href="">{{expertise}}</a></li>
                            {% endfor%}
                            </ul>
                        </li>
                        <li class="drop" data-name="location">
                            <span>Location</span>
                            <ul class="submain" >
                            {% for location in locations %}
                                <li data-value="{{location}}"><a href="">{{location}}</a></li>
                            {% endfor%}
                            </ul>
                        </li>
                        <li>Order results by:</li>
                        <li class="drop active" data-name="sort">
                            <span>New Mentors first</span>
                            <ul class="submain">
                                <li class="active" data-value="time"><a href="">New Mentors first</a></li>
                                <li data-value="displayName"><a href="">A - Z</a></li>
                                <li data-value="-displayName"><a href="">Z - A</a></li>
                            </ul>
                        </li>
                    </ul> -->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="mentors">
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script type="text/template" id="listTemplate">
    <ul class="list-container">
    </ul>
    <div class="clearfix"></div>
</script>
<script type="text/template" id="listItemTemplate">
    <li class="animated flipInX">
        <a href="/<%= item.slugStr %>">
        
            <img src="<%= item.avatar %>">
            <div class="content">
                <p class="name"><%= item.displayName %></p>
                <div class="role-container"><p class='role'><%= item.title %><p></div>
            </div>
        </a>
    </li>
</script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendors/underscore.js"></script>
<script src="/js/vendors/backbone.js"></script>
<script src="/js/init.js"></script>
<script src="/js/widgets/list.js"></script>
<script src="/js/app/mentors.js"></script>    
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    window.mentors = {{mentors|json|safe}};
    {% if queryMentors %}
    window.queryMentors = {{queryMentors|json|safe}};
    {% endif %}

    $(document).foundation();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var lastScrollTop = 0;
        $(window).on('scroll', function(){
            $('#int').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){ $('#int').removeClass('animated'); });
            var busy = 0;
            var st = $(this).scrollTop();
            if (st > lastScrollTop && busy==0 && st>0){
                busy=1;
                $('#int').css('position','absolute').addClass('animated bounceInDown').attr('rel','bar_top');
            }
            if (st <= lastScrollTop){
                if( $('#int').attr('rel') == 'bar_top' ){
                    $('#int').attr('rel','1');
                    $('#int').css('position','fixed').addClass('animated bounceInDown');
                }
                else
                    $('#int').css('position','fixed');
            }
            lastScrollTop = st;
        });

        $('#filter_cat').on('click',function(){
            var obj_position = $(this).position();
            $('.filter_content').fadeOut();
            $('#filter_cat_content').css('margin-left',''+(obj_position.left/2)+'px').toggle();
        });

        $('#filter_place').on('click',function(){
            var obj_position = $(this).position();
            $('.filter_content').fadeOut();
            $('#filter_place_content').css('margin-left',''+(obj_position.left)+'px').toggle();
        });

        $('#filter_type').on('click',function(){
            var obj_position = $(this).position();
            $('.filter_content').fadeOut();
            $('#filter_type_content').css('margin-left',''+(obj_position.left)+'px').toggle();
        });

        $('.filter_content li').on('click',function(){
            $('#'+$(this).attr('rel')+' li').removeClass('active');
            $(this).addClass('active');
            $('.filter_content').fadeOut();
        });        
    });
</script>
</body>
</html>