<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500.co</title>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="portfolio">
        <div id="search">
            <div class="center">
                <div class="container">
                    <h4>Search the 500+ companies in our portfolio</h4>
                    <input id="searchbox" type="search" placeholder="search">
                    <p><span>Try makerbot, education, China</span></p>
                    <ul id="filter" style="visibility: hidden;">
                        <li>Filter results by:</li>
                        <li class="drop">
                            <span>Investment Themes</span>
                            <ul class="submain">
                                <li><a href="">one</a></li>
                                <li><a href="">two</a></li>
                                <li><a href="">three</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <span>Batch</span>
                            <ul class="submain">
                                <li><a href="">one</a></li>
                                <li><a href="">two</a></li>
                                <li><a href="">three</a></li>
                            </ul>
                        </li>
                        <li class="drop active">
                            <span>Business Model</span>
                            <ul class="submain">
                                <li><a href="">B2B</a></li>
                                <li class="active"><a href="">B2C</a></li>
                                <li class="active"><a href="">B2B2C</a></li>
                                <li><a href="">Marketplace</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <span>Locations</span>
                            <ul class="submain">
                                <li><a href="">one</a></li>
                                <li><a href="">two</a></li>
                                <li><a href="">three</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <span>Stages</span>
                            <ul class="submain">
                                <li><a href="">one</a></li>
                                <li><a href="">two</a></li>
                                <li><a href="">three</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <span>Status</span>
                            <ul class="submain">
                                <li><a href="">one</a></li>
                                <li><a href="">two</a></li>
                                <li><a href="">three</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="starters">
            {% if false %}
            <div class="center">
                <ul class="card">
                    {% for startup in startups %}
                    <li>
                    	<a target="_blank" href="/{{startup.slugStr}}">
	                        <div class="content">
                                <div class="image-container">
                                    <img src="{{startup.logo}}">
                                </div>
	                            <p class="title">{{startup.name}}</p>
	                            <p class="detail">{{startup.investmentType}}</p>
	                            <p>{{startup.excerpt}}</p>
	                            {% if startup.batch %}
	                            <p class="footer">{{startup.batch.name}}</p>
	                            {% endif %}
	                        </div>
                    	</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
            {% endif %}
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script type="text/template" id="listTemplate">
    <ul class="card list-container">
    </ul>
    <div class="clearfix"></div>
</script>
<script type="text/template" id="listItemTemplate">
    <li>
        <a href="/<%= item.slugStr %>">
            <div class="content">
                <div class="image-container">
                    <img src="<%= item.logo %>">
                </div>
                <p class="title"><%= item.name %></p>
                <p class="detail"><%= item.investmentType %></p>
                <p> <%= item.excerpt %></p>
                <% if(item.batch){ %>
                <p class="footer"><%= item.batch.name %></p>
                <% } %>
            </div>
        </a>
    </li>
</script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendors/underscore.js"></script>
<script src="/js/vendors/backbone.js"></script>
<script src="/js/init.js"></script>
<script src="/js/widgets/list.js"></script>
<script src="/js/app/startups.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    {% autoescape false %}
    window.startups = {{startups|json}};
    {% endautoescape %}

    $(document).foundation();
</script>
</body>
</html>