<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=320"/>
    <title>Startups - 500 Startups</title>
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
    <script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
window.analytics.load("i3r08av9ee");
window.analytics.page();
</script>
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="portfolio">
        <div id="search">
            <div class="center">
                <div class="container">
                    <h3>500 Startups is more than just a name</h3>
                    <h5>We've funded hundreds of companies all over the world, </br>and you'll find them all here.</h5>
                    <input id="searchbox" type="search" placeholder="Try makerbot, education, China" value="{{params.query}}">
                    <p class="place_holder_search"><span>Search our 600+ startups by name, location, markets or keywords</span></p>
                    <ul id="filter_cool">
                        <li>Show me</li>
                        <li id="filter_cat" class="filter_cool"><span>all</span> <div class="filter_img"></div></li>
                        
                        <li>startups focusing on</li>
                        <li id="filter_type" class="filter_cool"><span>all markets</span> <div class="filter_img"></div></li>
                    </ul>

                    <div id="filters_cool">
                        <div id="filter_cat_content" class="filter_content arrow_box" data-select-box="#filter_cat">
                            <ul class="filter_header">
                                <li rel="filter_cat_content" id="filter_car_all" {% if !params.seed && !params.batchgroup && !params.batch %}class="active"{% endif %}>All</li>
                            </ul>
                            {% if batches.siliconValley.length %}
                            <ul>
                                <li rel="filter_cat_content"  class="title_filter{% if params.batchgroup == 'silicon valley' %} active{% endif %}" data-value="silicon valley" data-type="category">Silicon Valley</li>
                                {% for batch in batches.siliconValley %}
                                <li rel="filter_cat_content" data-value="{{batch.id}}" {% if params.batch == batch.name %}class="active"{% endif %}>Batch {{batch.name}}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% if batches.mexicoCity.length %}
                            <ul>
                                <li rel="filter_cat_content"  class="title_filter{% if params.batchgroup == 'mexico city' %} active{% endif %}" data-value="mexico city" data-type="category">Mexico City</li>
                                {% for batch in batches.mexicoCity %}
                                <li rel="filter_cat_content" data-value="{{batch.id}}" {% if params.batch == batch.name %}class="active"{% endif %}>{{batch.name}}</li>
                                {% endfor %}                                
                            </ul>
                            {% endif %}
                            {% if batches.sanFransisco.length %}
                            <ul>
                                <li rel="filter_cat_content"  class="title_filter" data-value="san francisco" data-type="category">San Francisco</li>
                                {% for batch in batches.sanFransisco %}
                                <li rel="filter_cat_content" data-value="{{batch.id}}" {% if params.batch == batch.name %}class="active"{% endif %}>Batch {{batch.name}}</li>
                                {% endfor %}                                
                            </ul>
                            {% endif %}                            
                            <ul>
                                <li rel="filter_cat_content" class="title_filter{% if params.seed %} active{% endif %}" data-value="seed" data-type="category">Seed</li>
                            </ul>
                        </div>
                        <div id="filter_type_content" class="filter_content arrow_box" data-select-box="#filter_type">
                            <ul class="filter_header">
                                <li rel="filter_type_content" id="filter_type_all" {% if !params.theme %}class="active"{% endif %}>All</li>
                            </ul>
                            <ul>
                                <li rel="filter_type_content" {% if params.theme == "consumer commerce" %} class="active"{% endif %} data-value="consumer commerce">Consumer commerce</li>
                                <li rel="filter_type_content" {% if params.theme == "family tech and education" %} class="active"{% endif %} data-value="family tech and education">Family tech and education</li>
                                <li rel="filter_type_content" {% if params.theme == "design" %} class="active"{% endif %} data-value="design">Design</li>
                                <li rel="filter_type_content" {% if params.theme == "smb productivity cloud services" %} class="active"{% endif %} data-value="smb productivity & cloud services">smb productivity & cloud services</li>
                                <li rel="filter_type_content" {% if params.theme == "international / emerging markets" %} class="active"{% endif %} data-value="international / emerging markets">International / emerging markets</li>
                                <li rel="filter_type_content" {% if params.theme == "food tech + digital healthcare" %} class="active"{% endif %} data-value="food tech + digital healthcare">Food tech + digital healthcare</li>
                                <li rel="filter_type_content" {% if params.theme == "mobile tablet" %} class="active"{% endif %} data-value="mobile + tablet">Mobile + tablet (ios and android)</li>
                                <li rel="filter_type_content" {% if params.theme == "payments and financial services" %} class="active"{% endif %} data-value="payments and financial services">Payments and financial services</li>
                                <li rel="filter_type_content" {% if params.theme == "online video" %} class="active"{% endif %} data-value="online video">Online video</li>
                                <li rel="filter_type_content" {% if params.theme == "bitcoin" %} class="active"{% endif %} data-value="bitcoin">Bitcoin</li>
                                <li rel="filter_type_content" {% if params.theme == "ad tech" %} class="active"{% endif %} data-value="ad tech">Ad Tech</li>                                
                                <li rel="filter_type_content" {% if params.theme == "gaming" %} class="active"{% endif %} data-value="gaming">Gaming</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="starters">

        </div>
    </section>
    {% include "../partials/footer.html" %}
<script type="text/template" id="listTemplate">
    <ul class="card list-container">
    </ul>
    <div class="clearfix"></div>
</script>
<script type="text/template" id="listItemTemplate">
    <li class="animated fadeInDown  ">
        <a href="/<%= item.slugStr %>">
            <div class="content">
                <div class="image-container">
                    <img src="<%= item.logo %>">
                </div>
                <p class="title"><%= item.name %></p>
                <p class="detail"><%= item.investmentType %></p>
                <p class="excerpt"> <%= item.excerpt %></p>
                <% if(item.batch){ %>
                <p class="footer"><%= item.batch.name %></p>
                <% } %>
            </div>
        </a>
    </li>
</script>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendors/underscore.js"></script>
<script src="/js/vendors/backbone.js"></script>
<script src="/js/init.js"></script>
<script src="/js/widgets/list.js"></script>
<script src="/js/app/startups.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    {% autoescape false %}
    window.startups = {{startups|json}};
    {% endautoescape %}

    $(document).foundation();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var lastScrollTop = 0;
        $(window).on('scroll', function(){
            $('#int').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){ $('#int').removeClass('animated'); });
            var busy = 0;
            var st = $(this).scrollTop();
            if (st > lastScrollTop && busy==0 && st>0){
                busy=1;
                $('#int').css('position','absolute').addClass('animated bounceInDown').attr('rel','bar_top');
            }
            if (st <= lastScrollTop){
                if( $('#int').attr('rel') == 'bar_top' ){
                    $('#int').attr('rel','1');
                    $('#int').css('position','fixed').addClass('animated bounceInDown');
                }
                else
                    $('#int').css('position','fixed');
            }
            lastScrollTop = st;
        });

        $('#filter_cat').on('click',function(){
            var obj_position = $(this).position();
            $('.filter_content').fadeOut();
            $('#filter_cat_content').css('left',(obj_position.left)).toggle();
        });

        $('#filter_place').on('click',function(){
            var obj_position = $(this).position();
            $('.filter_content').fadeOut();
            $('#filter_place_content').css('left',(obj_position.left)).toggle();
        });

        $('#filter_type').on('click',function(){
            var obj_position = $(this).position();
            $('.filter_content').fadeOut();
            $('#filter_type_content').css('left',(obj_position.left)).toggle();
        });

        $('.filter_content li').on('click',function(){
            $('#'+$(this).attr('rel')+' li').removeClass('active');
            $(this).addClass('active');
            $('.filter_content').fadeOut();
        });
    });
</script>
</body>
</html>