<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{startup.name}} at 500.co</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <script src="js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
</head>
<body>
    {% include "../partials/navbar.html" %}
    <section id="startup">
        <div id="top-head">
            <div class="center">
                <div class="container {% if startup.video %}video{% endif %}">
                	{% if startup.logo %}
                    <div class="logo"><img src="{{startup.logo}}" alt="{{startup.name}}"></div>
                	{% endif %}
                    <h4>{{startup.name}}</h4>
                    <p>{{startup.excerpt}}</p>
                	{% if startup.url %}
                    <div class="link"><a href="{{startup.url}}" class="outline">{{startup.url|domain}}</a></div>
                	{% endif %}
  		
                    <ul class="social">
                    {% for profile in startup.socialProfiles %}
                        {% if profile.url %}
                        <li>
                            <a href="{{profile.url|socialUrl(profile.provider)}}">
                                <img class="has-retina" src="{{profile.provider|socialEmoticon}}" alt="{{profile.provider}}">
                            </a>
                        </li>                    
                        {% endif %}
                    {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
        <div id="detail" {% if startup.video %}class="video"{% endif %}>
            <div class="center">
            	{% if startup.embed %}
                <div class="video">
                    {% autoescape false %}{{ startup.embed }}{% endautoescape %}
                </div>
            	{% endif %}
                <div class="clearfix"></div>
                <div class="info">
                    <div class="company">
                        <h4>Company</h4>
                        {% if startup.location %}
                        <div>
                            <h6>LOCATION</h6>
                            <p>San Francisco</p>
                        </div>
                        {% endif %}
                        {% if startup.size %}
                        <div>
                            <h6>SIZE</h6>
                            <p>1-29 employes</p>
                        </div>
                        {% endif %}
                        {% if startup.funding.length %}
                        <div>
                            <h6>FUNDING</h6>
                            <p>
                            {% for investment in startup.funding %}
                                {% if investment.url %}
                                <a class="block" href="{{investment.url}}">{{ investment.amount }}</a>
                                {% else %}
                                <span class="block">{{ investment.amount }}</span>
                                {% endif %}
                            {% endfor %}
                            </p>
                        </div>
                        {% endif %}
                        {% if startup.markets.length %}
                        <div>
                            <h6>MARKET</h6>
                            <p>{{ startup.markets|join(',') }}</p>
                        </div>
                        {% endif %}
                        {% if batch %}
                        <div>
                            <h6>BATCH</h6>
                            <p>{{batch.name}}</p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="product">
                        <h4>Product</h4>
                        <p>{{startup.description|safe}}</p>
                    </div>
                </div>
                {% if startup.founders.lenght %}
                <div class="founders">
                    <h4>Founders</h4>
                    <ul>
                        <li>
                            <img src="/img/founders/founder1.png">
                            <div class="perfil">
                                <h5>Jeduan Cornejo</h5>
                                <h6>CEO</h6>
                            </div>
                        </li>
                        <li>
                            <img src="/img/founders/founder1.png">
                            <div class="perfil">
                                <h5>Jeduan Cornejo</h5>
                                <h6>CEO</h6>
                            </div>
                        </li>
                        <li>
                            <img src="/img/founders/founder1.png">
                            <div class="perfil">
                                <h5>Jeduan Cornejo</h5>
                                <h6>CEO</h6>
                            </div>
                        </li>
                        <li>
                            <img src="/img/founders/founder1.png">
                            <div class="perfil">
                                <h5>Jeduan Cornejo</h5>
                                <h6>CEO</h6>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>