<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our team @500.co</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
</head>
<body>
	{% include "../partials/navbar.html" %}
    <section id="portfolio" class="team">
        <div id="search">
            <div class="center">
                <div class="container">
                    <h3>Meet our awesome, diverse and colorful team</h3>
                    <p>We speak least 10 languages, come from all over the world, and have the expertise to help you build a great company.</p>
                    <h6>MANAGEMENT TEAM</h6>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="team" class="team500">
            <div class="center">
                {% for member in team.managment %}
                    {% if loop.index0 % 4 == 0 %}
                    <ul class="up cards-{% if (team.managment.length - loop.index0) >= 4 %}4{%else%}{{team.managment.length - loop.index0 }}{% endif %}">
                    {% endif %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <p class="role">{{member.title}}</p>
                            </div>
                        </a>
                    </li>
                    {% if loop.index % 4 == 0 || loop.last %}
                    </ul>
                    {% endif %}
                {% endfor %}
                <h6 class="top">INVESTMENT</h6>
                {% for member in team.investment %}
                    {% if loop.index0 % 4 == 0 %}
                    <ul class="cards-{% if (team.investment.length - loop.index0) >= 4 %}4{%else%}{{team.investment.length - loop.index0 }}{% endif %}">
                    {% endif %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <p class="role">{{member.title}}</p>
                            </div>
                        </a>
                    </li>
                    {% if loop.index % 4 == 0 || loop.last %}
                    </ul>
                    {% endif %}
                {% endfor %}
                <h6>FINANCIAL, LEGAL, MARKETING AND PORTFOLIO SUPPORT</h6>
                {% for member in team.support %}
                    {% if loop.index0 % 4 == 0 %}
                    <ul class="cards-{% if (team.support.length - loop.index0) >= 4 %}4{%else%}{{team.support.length - loop.index0 }}{% endif %}">
                    {% endif %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <p class="role">{{member.title}}</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>          
                <h6>DISTRIBUTION TEAM</h6>
                {% for member in team.distribution %}
                    {% if loop.index0 % 4 == 0 %}
                    <ul class="cards-{% if (team.distribution.length - loop.index0) >= 4 %}4{%else%}{{team.distribution.length - loop.index0 }}{% endif %}">
                    {% endif %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <p class="role">{{member.title}}</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    $(document).foundation();
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var lastScrollTop = 0;
        $(window).on('scroll', function(){
            $('#int').one('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function(){ $('#int').removeClass('animated'); });
            var busy = 0;
            var st = $(this).scrollTop();
            if (st > lastScrollTop && busy==0 && st>0){
                busy=1;
                $('#int').css('position','absolute').addClass('animated bounceInDown').attr('rel','bar_top');
            }
            if (st <= lastScrollTop){
                if( $('#int').attr('rel') == 'bar_top' ){
                    $('#int').attr('rel','1');
                    $('#int').css('position','fixed').addClass('animated bounceInDown');
                }
                else
                    $('#int').css('position','fixed');
            }
            lastScrollTop = st;
        });
    });
</script>
</body>
</html>