<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
<meta name="viewport" content="width=device-width, maximum-scale=1"/>
    <title>Meet the team at 500 Startups</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="500 Startups » Feed" href="http://500.co/feed/">
    <script src="/js/google-analytics.js"></script>
    <script type="text/javascript">
window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
window.analytics.load("i3r08av9ee");
window.analytics.page();
</script>

 <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("758448550");
    </script>
  

</head>
<body>
	{% include "../partials/navbar.html" %}
    <section id="portfolio" class="team">
        <div id="search">
            <div class="center">
                <div class="container">
                    <h3>Meet our awesome, diverse, and colorful team</h3>
                    <p>We speak 20+ languages, come from all over the world, and have the expertise to help you build a great company.</p>
                    <h6>MANAGEMENT AND INVESTMENT TEAM</h6>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="team" class="team500">
            <div class="center">
                <ul class="up cards">
                {% for member in team.managment %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <div class="role-container"><p class='role'>{{member.title}}<p></div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                {% for member in team.investment %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <div class="role-container"><p class='role'>{{member.title}}<p></div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
                <h6 class="top">FINANCIAL, LEGAL, MARKETING AND PORTFOLIO SUPPORT</h6>
                <ul class="cards">
                {% for member in team.support %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <div class="role-container"><p class='role'>{{member.title}}<p></div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>          
                <h6>DISTRIBUTION TEAM</h6>
                <ul class="cards">
                {% for member in team.distribution %}
                    <li class="animated flipInX">
                        <a class="card" href="/{{member.slugStr}}">
                            <img src="{{member.avatar}}">
                            <div class="content">
                                <p class="name">{{member.displayName}}</p>
                                <div class="role-container"><p class='role'>{{member.title}}<p></div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
                </ul>
                </ul>
                <div class="clearfix"></div>
        <p>The title "Partner" is used in accordance with customary business practice in the venture capital industry and does not indicate a legal status in a partnership.</p>
            </div>
        </div>
    </section>
    {% include "../partials/footer.html" %}
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/public.js"></script>
<script>
    $(document).foundation();
</script>
<script src="/js/header.js"></script>

</body>
</html>
