{% extends '../layouts/admin.html' %}

{% block title %}{% if event %}{{event.name}}{% else %}New event{% endif %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/css/colorpicker.css" />
{% endblock %}

{% block header %}
{% if event %}
	<i class="fa fa-bitbucket"></i> {{event.name}} 
{% else %}
	<i class="fa fa-bitbucket"></i> Add event
{% endif %}
{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>Saved!</strong> {{message}}.
</div>
{% endif %}
<div class="panel panel-dark">
	{% if event %}
	<form id="event-form" class="form-horizontal form-bordered" method="post" action="/admin/events/{{event.id}}/edit" enctype="multipart/form-data">
	{% else %}
	<form id="event-form" class="form-horizontal form-bordered" method="post" action="/admin/events/new" enctype="multipart/form-data">
	{% endif %}
		<div class="panel-heading">
			<h4 class="panel-title">Edit user information</h4>
		</div>
		<div class="panel-body panel-body-nopadding">
			<div class="form-group">
				<label class="col-sm-3 control-label">Name</label>
				<div class="col-sm-6">
					<input name="name" type="text" class="form-control" value="{{ event.name }}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Title</label>
				<div class="col-sm-6">
					<input name="title" type="text" class="form-control" value="{{ event.title }}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Date</label>
				<div class="col-sm-6">
					<input name="date" type="text" class="form-control" value="{{ event.date }}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Link</label>
				<div class="col-sm-6">
					<input name="link" type="text" class="form-control" value="{{ event.link }}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Description</label>
				<div class="col-sm-6">
					<textarea name="description" class="form-control" rows="7">{{ event.description }}</textarea>
				</div>
			</div>			
			<div class="form-group">
				<label class="col-sm-3 control-label">Color</label>
				<div class="col-sm-6">
					<input id="color" type="text" name="color" class="form-control colorpicker-input" value="{{ event.color || '#ffffff'}}"/>
					<span class="colorselector" data-input="#color" data-color="{{ event.color || '#ffffff'}}">
						<span></span>
					</span>					
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Background color</label>
				<div class="col-sm-6">
					<input id="backgroundColor" type="text" name="backgroundColor" class="form-control colorpicker-input" value="{{ event.backgroundColor || '#00000'}}"/>
					<span class="colorselector" data-input="#backgroundColor" data-color="{{ event.backgroundColor || '#000000'}}">
						<span></span>
					</span>					
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Background image</label>
				<div class="col-sm-6">
					<div class="image-uploader" name="image">
						<img src="{{event.image}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 text-right">
					<button name="action" value="update" class="btn btn-success">Update</button>
					{% if event.active %}
					<button name="action" value="unpublish" class="btn btn-primary">Unpublish</button>
					{% else %}
					<button name="action" value="publish" class="btn btn-primary">Publish</button>
					{% endif %}
				</div>
			</div>
		</div>		
	</form>
</div>

{% if  event && user.type == 'admin' %}
<div class="panel panel-danger">
	<form id="batch-form" class="form-horizontal form-bordered" method="post" action="/admin/events/{{event.id}}/delete">
		<div class="panel-heading">
			<h4 class="panel-title">Delete Event</h4>
		</div>
		<div class="panel-footer">
			<div class="row">
				<label class="col-sm-9">This action will delete this startup</label>
				<div class="col-sm-3 text-right">
					<button class="btn btn-danger">Confirm</button>
				</div>
			</div>
		</div>
	</form>	
</div>
{% endif %}

{% endblock %}

{% block js %}
<script src="/js/vendors/colorpicker.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.colorselector').each(function(i, item){
		var $item = $(item);
		var colorpicker = $item.ColorPicker({
			color: $item.data('color'),
			onShow: function (colpkr) {
				jQuery(colpkr).fadeIn(500);
				return false;
			},
			onHide: function (colpkr) {
				jQuery(colpkr).fadeOut(500);
				return false;
			},
			onChange: function (hsb, hex, rgb) {
				var data = this.data('colorpicker');
				var $el = $(data.el);
				var $input = $($el.data('input'));

				$el.find('span').css('backgroundColor', '#' + hex);
				$input.val('#'+hex);
			}
		});

		$item.find('span').css('backgroundColor',  $item.data('color') );
	})

	$('#event-form').on('submit', function (e) {
		var $imageUploader = $('#uploader-image');

		if($imageUploader.val() === ''){
			$imageUploader.remove();
		}
	});
});
</script>
{% endblock %}