{% extends '../layouts/admin.html' %}

{% block title %}{{batch.name || 'Add batch'}}{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
	{% if batch %}
		{{batch.name}}
	{% else %}
		New batch
	{% endif %}		
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>Error!</strong> {{error}}.
</div>
{% endif %}
{% if message %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>Saved!</strong> {{message}}.
</div>
{% endif %}
<div class="panel panel-dark">
	{% if batch %}
	<form id="batch-form" class="form-horizontal form-bordered" method="post" action="/admin/startups/batches/{{batch.id}}/edit">
	{% else %}
	<form id="batch-form" class="form-horizontal form-bordered" method="post" action="/admin/startups/batches/new">
	{% endif %}
		<div class="panel-heading">
			<h4 class="panel-title">Batch information</h4>
		</div>
		<div class="panel-body panel-body-nopadding">
			<div class="form-group">
				<label class="col-sm-3 control-label">Name</label>
				<div class="col-sm-6">
					<input name="name" type="text" class="form-control validate[required]" value="{{batch.name}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Location</label>
				<div class="col-sm-6">
					<select name="location" class="form-control input-sm mb15">
						<option value="silicon valley" {% if batch.location == "silicon valley"%} selected="true"{% endif %}>Silicon Valley</option>
						<option value="mexico city" {% if batch.location == "mexico city"%} selected="true"{% endif %}>Mexico City</option>
						<option value="san francisco" {% if batch.location == "san francisco"%} selected="true"{% endif %}>San Francisco</option>
					<select/>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 text-right">
					<button class="btn btn-primary">Create</button>
				</div>
			</div>
		</div>
	</form>
</div>
{% if batch and user.type == 'admin' %}
<div class="panel panel-danger">
	<form id="batch-form" class="form-horizontal form-bordered" method="post" action="/admin/startups/batches/{{batch.id}}/delete">
		<div class="panel-heading">
			<h4 class="panel-title">Delete batch</h4>
		</div>
		<div class="panel-footer">
			<div class="row">
				<label class="col-sm-9">This action will delete this batch</label>
				<div class="col-sm-3 text-right">
					<button class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</form>	
</div>
{% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
	$("#batch-form").validationEngine('attach', {scroll: false});
});
</script>
{% endblock %}