{% extends '../layouts/admin.html' %}

{% block title %}Startups list{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
	<i class="fa fa-building-o"></i>Startups
{% endblock %}

{% block content %}
<div class="row list-header">
	<div class="col-xs-6">
		<p class="title">Startup list.</p>
	</div>
	<div class="col-xs-6">
		<div class="input-group stand-alone">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input type="text" placeholder="Search" class="form-control searchbar">
		</div>
	</div>
</div>
<div id="startupsTable">

</div>
{% endblock %}

{% block js %}
<script type="text/template" id="tableTemplate">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Slug</th>
				<th>Excerpt</th>
				<th>Published</th>
			</tr>
		</thead>
		<tbody class="list-container">
		</tbody>
	</table>
</script>
<script type="text/template" id="tableRowTemplate">
	<td><%= item.name %></td>
	<td><%= item.slugStr %></td>
	<td><%= item.excerpt %></td>
	<td class="text-center">
		<i class="fa fa-<%= (item.publish) ? 'check text-success' : 'times text-danger' %>">
	</td>
</script>
<script type="text/javascript" src="/js/vendors/underscore.js"></script>
<script type="text/javascript" src="/js/vendors/backbone.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/widgets/list.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	{% autoescape false %}
	window.startups = {{startups|json(2)}};
	{% endautoescape %}

	var startupList = new window.Widgets.List({
		template : '#tableTemplate',
		itemTemplate : '#tableRowTemplate',
		itemTagName : 'tr',
		goTo : function() {
			window.location = '/admin/startups/' + this.model.get('_id');
		}
	});
	startupList.render().$el.appendTo('#startupsTable');
	startupList.fill(window.startups);

	window.widgets.startupList = startupList;

	var keyHandler = _.debounce(function(e) {
		var $this = $(e.target);

		window.widgets.startupList.empty();

		if($this.val()){
			var xhrSearch = $.post('/admin/startups/search', {search: $this.val()})
			.done(function(data){
				window.widgets.startupList.fill(data);
			});
		}else{
			window.widgets.startupList.fill(window.startups);
		}
	}, 500);

	$('.searchbar').on('keyup', keyHandler);
});
</script>
{% endblock %}
