{% extends '../layouts/admin.html' %}

{% block title %}Add start up{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/css/jquery.tagsinput.css" />
{% endblock %}

{% block header %}
	<i class="fa fa-building-o"></i> Add Startup
{% endblock %}

{% block content %}
<div class="panel panel-dark">
	<form id="create-startup" class="form-horizontal form-bordered" method="post" action="/admin/startups/new" enctype="multipart/form-data">
		<div class="panel-heading">
			<h4 class="panel-title">Startup information</h4>
		</div>
		<div class="panel-body panel-body-nopadding">
			<div class="form-group">
				<label class="col-sm-3 control-label">Name</label>
				<div class="col-sm-6">
					<input name="name" type="text" class="form-control validate[required]" value="{{angelListStartUp.name}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Slug</label>
				<div class="col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">500.co/</span>
						<input name="slug" type="text" placeholder="select-a-slug" class="input-slug form-control" value="{{angelListStartUp.slug}}">
					</div>					
				</div>
			</div>		
			<div class="form-group">
				<label class="col-sm-3 control-label">Url</label>
				<div class="col-sm-6">
					<input name="url" type="text" class="form-control" value="{{angelListStartUp.url}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Investment Status</label>
				<div class="col-sm-6">
					<input name="investmentStatus" data-max-size='50' class="char-counter form-control validate[maxSize[50]]" value=""/>
				</div>
			</div>			
			<div class="form-group">
				<label class="col-sm-3 control-label">Excerpt</label>
				<div class="col-sm-6">
					<textarea name="excerpt" data-max-size='64' class="char-counter form-control validate[maxSize[64]]" rows="5">{{angelListStartUp.excerpt}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Description</label>
				<div class="col-sm-6">
					<textarea name="description" class="form-control" rows="7">{{angelListStartUp.description}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Logo</label>
				<div class="col-sm-6">
					<div class="image-uploader" name="logo">
						<img src="{{angelListStartUp.logo}}"/>
					</div>
					<input name="remoteLogoUrl" value="{{angelListStartUp.logo}}" type="hidden">
				</div>
			</div>		
			<div class="form-group">
				<label class="col-sm-3 control-label">Video</label>
				<div class="col-sm-6">
					<input name="video" type="text" class="form-control" value="{{angelListStartUp.video}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Location</label>
				<div class="col-sm-6">
					<input name="location" type="text" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Size</label>
				<div class="col-sm-6">
					<input name="size" type="text" class="form-control">
				</div>
			</div>			
			<div class="form-group">
				<label class="col-sm-3 control-label">Batch</label>
				<div class="col-sm-6">
					<select name="batch" class="form-control input-sm mb15">
						<option value=""></option>
						{% for batch in batches %}
						<option value="{{batch.id}}">{{batch.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Markets</label>
				<div class="col-sm-6">
					<input name="markets" class="form-control form-tags" value="{{currentStartup.markets|join(',')}}" placeholder="Add markets"/>
				</div>
			</div>	
			<legend>Profiles</legend>
			{% for profile in socialProfiles %}
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ profile.provider }}</label>
				{% if profile.provider !== 'blog' %}
				<div class="col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">{{profile.provider|slugPlaceholder}}</span>
						<input name="{{profile.provider}}" type="text" placeholder="select-a-slug" class="input-slug form-control" value="{{profile.url}}">
					</div>					
				</div>
				{% else %}
				<div class="col-sm-6">
					<input name="{{profile.provider}}" type="text" class="form-control" value="{{profile.url}}">
				</div>
				{% endif %}
			</div>
			{% endfor %}	
			<legend>Investments</legend>
			<div class="form-group">
				<label class="col-sm-1 control-label">Amount</label>
				<div class="col-sm-4">
					<input id="investment-amount" type="text" class="form-control" value="">
				</div>
				<label class="col-sm-1 control-label">Url</label>
				<div class="col-sm-4">
					<input id="investment-url" type="text" class="form-control" value="">
				</div>
				<a id="add-investment" class="col-sm-1 btn btn-primary-alt">Add</a>
				<input id="investment-data" name="investments" type="hidden">
			</div>
			<div id="investments" class="form-group">
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 text-right">
					<button class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/vendors/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="/js/vendors/jquery.tagsinput.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#create-startup').on('submit', function (e) {
		var $logoUploader = $('#create-startup #uploader-logo');

		if($logoUploader.val() === ''){
			$logoUploader.remove();
		}

		var investment = [];
		$('.investment').each(function(i, item){
			investment.push({
				amount : $(item).data('amount'),
				url    : $(item).data('url')
			})
		});

		$('#investment-data').val( JSON.stringify(investment) );	
	});

	$('#investments').sortable();
    $('#investments').disableSelection();

	$("#add-investment").on('click', function(){
		var amount = $("#investment-amount").val();
		var url    = $("#investment-url").val();

		if(amount){
			console.log(amount, url);
			$("#investment-amount").css('border-color', 'inherit');

			var $investment = $('<div class="investment alert">' +
				'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
				'<strong>'+amount+'</strong> <a href="'+url+'" target="_black" class="alert-link">'+ url +'</a>.'+
			'</div>');
			$investment.data('url',    url);
			$investment.data('amount', amount);

			$("#investment-amount").val('');
			$("#investment-url").val('');
			$('#investments').append($investment);
		}else{
			$("#investment-amount").css('border-color', '#a94442').focus();
		}
	});
});
</script>
{% endblock %}
