{% extends '../layouts/admin.html' %}

{% block title %}{{currentStartup.name}} | 500.co{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/css/jquery.tagsinput.css" />
{% endblock %}

{% block header %}
	{% if currentStartup.avatar %}
		<img class="logo" src="{{currentStartup.logo}}">
	{% else %}
		<i class="fa fa-building-o"></i>
	{% endif %}
	{{currentStartup.name}} <span><a class="resorce-slug" href="/{{currentStartup.slugStr}}" target="_blank">500.co/{{currentStartup.slugStr}}</a><i class="fa fa-pencil-square-o edit-link">edit</i></span>
{% endblock %}

{% block subheader %}
	{% include "../partials/slug-change.html" with currentStartup only %}
{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>Saved!</strong> {{message}}.
</div>
{% endif %}
<div class="panel panel-dark">
	<form id="update-startup" class="form-horizontal form-bordered" method="post" action="/admin/startups/{{currentStartup.id}}/edit" enctype="multipart/form-data">
		<div class="panel-heading">
			<h4 class="panel-title">Startup information</h4>
		</div>
		<div class="panel-body panel-body-nopadding">
			<div class="form-group">
				<label class="col-sm-3 control-label">Name</label>
				<div class="col-sm-6">
					<input name="name" type="text" class="form-control validate[required]" value="{{currentStartup.name}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Url</label>
				<div class="col-sm-6">
					<input name="url" type="text" class="form-control" value="{{currentStartup.url}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Investment Status</label>
				<div class="col-sm-6">
					<input name="investmentType" data-max-size='50' class="char-counter form-control validate[maxSize[50]]" value="{{currentStartup.investmentType}}"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Investment Class</label>
				<div class="col-sm-6">
					<select id="investmentClass" name="investmentClass" class="form-control input-sm mb15">
						<option value="acceleration" {% if currentStartup.investmentClass == "acceleration"%} selected="true"{% endif %}>Acceleration</option>
						<option value="seed" {% if currentStartup.investmentClass == "seed"%} selected="true"{% endif %}>Seed</option>
					<select/>
				</div>
			</div>		
			<div class="form-group">
				<label class="col-sm-3 control-label">Excerpt</label>
				<div class="col-sm-6">
					<textarea name="excerpt" data-max-size='60' class="char-counter form-control validate[maxSize[60]]" rows="5">{{currentStartup.excerpt}}</textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Product description</label>
				<div class="col-sm-6">
					<textarea name="description" class="form-control" rows="7">{{currentStartup.description}}</textarea>
				</div>
			</div>	
			<div class="form-group">
				<label class="col-sm-3 control-label">Logo</label>
				<div class="col-sm-6">
					<div class="image-uploader" name="logo">
						<img src="{{currentStartup.logo}}"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Background</label>
				<div class="col-sm-6">
					<div class="image-uploader" name="background">
						<img src="{{currentStartup.background}}"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Video</label>
				<div class="col-sm-6">
					<input name="video" type="text" class="form-control" value="{{currentStartup.video}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Location</label>
				<div class="col-sm-6">
					<input id="location" name="location" type="text" class="form-control" value="{{currentStartup.location}}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Size</label>
				<div class="col-sm-6">
					<input name="size" type="text" class="form-control" value="{{currentStartup.size}}">
				</div>
			</div>	
			<div class="form-group">
				<label class="col-sm-3 control-label">Batch</label>
				<div class="col-sm-6">
					<select id="batch" name="batch" class="form-control input-sm mb15">
						<option value=""></option>
						{% for batch in batches %}
						<option value="{{batch.id}}" {% if batch.id == currentStartup.batch %} selected="true"{% endif %}>{{batch.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Investor themes</label>
				<div class="col-sm-4">
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="consumer commerce" {% if currentStartup.investmentFields|has('consumer commerce') %}checked{% endif %}> Consumer commerce</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="family tech and education" {% if currentStartup.investmentFields|has('family tech and education') %}checked{% endif %}> Family tech and education</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="design" {% if currentStartup.investmentFields|has('design') %}checked{% endif %}> Design</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="smb productivity & cloud services" {% if currentStartup.investmentFields|has('smb productivity & cloud services') %}checked{% endif %}> Smb productivity & cloud services</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="international / emerging markets" {% if currentStartup.investmentFields|has('international / emerging markets') %}checked{% endif %}> International / emerging markets</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="ad tech" {% if currentStartup.investmentFields|has('ad tech') %}checked{% endif %}> Ad Tech</label></div>
				</div>
				<div class="col-sm-4">
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="food tech + digital healthcare" {% if currentStartup.investmentFields|has('food tech + digital healthcare') %}checked{% endif %}> Food tech + digital healthcare</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="mobile + tablet" {% if currentStartup.investmentFields|has('mobile + tablet') %}checked{% endif %}> Mobile + tablet</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="payments and financial services" {% if currentStartup.investmentFields|has('payments and financial services') %}checked{% endif %}> Payments and  financial services</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="online video" {% if currentStartup.investmentFields|has('online video') %}checked{% endif %}> Online video</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="bitcoin" {% if currentStartup.investmentFields|has('bitcoin') %}checked{% endif %}> Bitcoin</label></div>
					<div class="checkbox block"><label><input type="checkbox" name="investment-field" value="gaming" {% if currentStartup.investmentFields|has('gaming') %}checked{% endif %}> Gaming</label></div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Markets</label>
				<div class="col-sm-6">
					<input name="markets" class="form-control form-tags" value="{{currentStartup.markets|join(',')}}" placeholder="Add markets"/>
				</div>
			</div>
			<legend>Profiles</legend>
			{% for profile in currentStartup.socialProfiles %}
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ profile.provider }}</label>
				{% if profile.provider !== 'blog' %}
				<div class="col-sm-6">
					<div class="input-group">
						<span class="input-group-addon">{{profile.provider|slugPlaceholder}}</span>
						<input name="{{profile.provider}}" type="text" placeholder="select-a-slug" class="input-slug form-control" value="{{profile.url}}">
					</div>					
				</div>
				{% else %}
				<div class="col-sm-6">
					<input name="{{profile.provider}}" type="text" class="form-control" value="{{profile.url}}">
				</div>
				{% endif %}
			</div>
			{% endfor %}			
			<legend>Investments</legend>
			<div class="form-group">
				<label class="col-sm-1 control-label">Amount</label>
				<div class="col-sm-4">
					<input id="investment-amount" type="text" class="form-control" value="">
				</div>
				<label class="col-sm-1 control-label">Url</label>
				<div class="col-sm-4">
					<input id="investment-url" type="text" class="form-control" value="">
				</div>
				<a id="add-investment" class="col-sm-1 btn btn-primary-alt">Add</a>
				<input id="investment-data" name="investments" type="hidden">
			</div>
			<div id="investments" class="form-group">
				{% for investment in currentStartup.funding %}
					<div class="investment alert" data-amount="{{investment.amount}}" data-url="{{investment.url}}">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<strong>{{investment.amount}}</strong> <a href="{{investment.url}}" target="_black" class="alert-link">{{investment.url}}</a>.
					</div>				
				{% endfor %}
			</div>
		</div>
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 text-right">
					<button name="action" value="update" class="btn btn-success">Update</button>
					{% if currentStartup.publish %}
					<button name="action" value="unpublish" class="btn btn-primary">Unpublish</button>
					{% else %}
					<button name="action" value="publish" class="btn btn-primary">Publish</button>
					{% endif %}
				</div>
			</div>
		</div>
	</form>
</div>

<div class="panel panel-dark">	
	<div class="form-horizontal form-bordered">
		<div class="panel-heading">
			<h4 class="panel-title">Add founders to startup</h4>
		</div>
		<div class="panel-body panel-body-nopadding">
			<div class="form-group">
				<label class="col-sm-3 control-label">Search angellist to add founder</label>
				<div class="col-sm-6">
					<input id="founders" type="text" class="form-control page-autocomplete" data-url="/admin/users/searchAngelList" data-store="founders" data-list="#founders-list">
				</div>
			</div>
			<div id="founders-list" class="form-group sortable">
			{% for founder in currentStartup.founders %}
				<div class="order-label alert alert-founder" data-id="{{founder.id}}" data-pic="{{founder.pic}}" data-name="{{founder.name}}" data-title="{{founder.title}}">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<div class="row">
						<div class="col-xs-3">
							<img src="{{founder.pic}}"/>
						</div>
						<div class="col-xs-9">
							<h4>{{ founder.name }}</h4>
							<input class="title" placeholder="founder title" value="{{founder.title}}"> 
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<form id="founders-form" class="form-horizontal form-bordered" method="post" action="/admin/startups/{{currentStartup.id}}/add-founders">
		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-9 col-sm-offset-3 text-right">
					<input id="founders-input" name="founder" type="hidden"/>
					<button class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</form>	
</div>

{% if  user.type == 'admin' %}
<div class="panel panel-danger">
	<form id="batch-form" class="form-horizontal form-bordered" method="post" action="/admin/startups/{{currentStartup.id}}/delete">
		<div class="panel-heading">
			<h4 class="panel-title">Delete Startup</h4>
		</div>
		<div class="panel-footer">
			<div class="row">
				<label class="col-sm-9">This action will delete this startup</label>
				<div class="col-sm-3 text-right">
					<button class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
	</form>	
</div>
{% endif %}

{% endblock %}


{% block js %}
<script type="text/javascript" src="/js/vendors/underscore.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places,geometry&sensor=false&callback=gMapsCallback"></script>
<script type="text/javascript" src="/js/vendors/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="/js/vendors/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/js/admin/edit-url.js"></script>
<script type="text/javascript" src="/js/admin/page.js"></script>
<script type="text/javascript">
window.founders = {};
window.placeToObject = function (place) {
	var o = {};


	if( !(place.geometry && place.formatted_address) ){return o;}
	var city = _(place.address_components).find(function(item){return item.types[0] === 'locality'});
	var county = _(place.address_components).find(function(item){return item.types[0] === 'administrative_area_level_2'});

	if(city.long_name){
		o.city = city.long_name;
	}else{
		o.city = county.long_name
	}

	o.country = _(place.address_components).find(function(item){return item.types[0] === 'country'}).long_name;
	o.state = _(place.address_components).find(function(item){return item.types[0] === 'administrative_area_level_1'}).short_name;

	return o;
};

window.gMapsCallback = function(){};

$(document).ready(function(){
	$('#update-startup').validationEngine('attach', {scroll: false});
	$('#update-startup').on('submit', function (e) {
		var $logoUploader = $('#update-startup #uploader-logo');

		if($logoUploader.val() === ''){
			$logoUploader.remove();
		}

		var $backgroundUploader = $('#update-startup #uploader-background');

		if($backgroundUploader.val() === ''){
			$backgroundUploader.remove();
		}

		var investment = [];
		$('.investment').each(function(i, item){
			investment.push({
				amount : $(item).data('amount'),
				url    : $(item).data('url')
			})
		});

		$('#investment-data').val( JSON.stringify(investment) );
	});

	$('#investments').sortable();
    $('#investments').disableSelection();

	$("#add-investment").on('click', function(){
		var amount = $("#investment-amount").val();
		var url    = $("#investment-url").val();

		if(amount){
			console.log(amount, url);
			$("#investment-amount").css('border-color', 'inherit');

			var $investment = $('<div class="investment alert">' +
				'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
				'<strong>'+amount+'</strong> <a href="'+url+'" target="_black" class="alert-link">'+ url +'</a>.'+
			'</div>');
			$investment.data('url',    url);
			$investment.data('amount', amount);

			$("#investment-amount").val('');
			$("#investment-url").val('');
			$('#investments').append($investment);
		}else{
			$("#investment-amount").css('border-color', '#a94442').focus();
		}
	});

	$('#location').on('keypress', function(e){
		if(e.which === 13){
			e.preventDefault();
			var geocoder = new google.maps.Geocoder();
			geocoder.geocode({address:$('#location').val()}, function(results, status){
				var address = results[0];
				var place = window.placeToObject(address);

				if(!place.country){
					$('$location').val('');
				}

				if(place.country === "United States"){
					setTimeout(function(){$('#location').val(place.city + ', ' + place.state)});
				}else{
					setTimeout(function(){$('#location').val(place.city + ', ' + place.country)});
				}
			});
		}
	});

	$('#founders').on('keyup', function (e) {
		var $this = $(this);
		var store = $this.data('store');

		if( e.which === 13 && $this.val() && window[store][$this.val()] ){
			var founder = window[store][$this.val()];

			var $label = $('<div class="order-label alert alert-founder">' +
				'<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
				'<div class="row">'+
					'<div class="col-xs-3">'+
						'<img src="' + founder.pic + '"/>' +
					'</div>'+
					'<div class="col-xs-9">'+
						'<h4>' + founder.name + '</h4>'+
						'<input class="title" placeholder="founder title">' +
					'</div>'+
				'</div>'+
			'</div>');

			$label.data(window[store][$this.val()] );

			$this.val('');
			$($this.data('list')).append($label);
		}
	});

	$('#founders-form').on('submit', function(e){
		var founders = [];
		$('#founders-list').find('> div').each(function(i, item){
			var $item = $(item);

			var data = $item.data();
			data.title = $item.find('input').val();

			founders.push(data);
		});

		var foundersAsStr = JSON.stringify(founders);
		$('#founders-input').val(foundersAsStr);
	});

	var investmentClassHandler = function(){
		if($('#investmentClass').val() === 'seed'){
			$('batch').hide();
		}else{
			$('batch').show();
		}
	}
	$('#investmentClass').on('change', investmentClassHandler);
	investmentClassHandler();
});

</script>
{% endblock %}