#filters_cool
    background transparent
ul.bxslider
    margin-left 0

//staff
+to(960px)
    section#staff-member .center
        width auto
        margin-left 20px
//home
+to(960px)
    body
        overflow auto !important
    section#home
        position static !important
        display none
    header
        &#int
            display block !important
    section#entrepreneurs
    #map-container
    section#team-home
    section#themes
    section#help-startups
    section#amazing
        padding-left 20px
        padding-right 20px
    #map-container #map
        width auto
        height auto
        img
            max-width 100%
            width auto
            height auto
            &:first-child
                position static
    section#team-home
        padding-bottom 25px !important
    #map-container
        padding-bottom 25px
    #map-container h4
        padding-top 25px
    #team-home
        padding-top 25px !important
    section#themes
        padding-bottom 25px
+to(767px)
    #info_square
        display none
    section#team-home 
        ul#date-500 
            li
                float none
                width auto
    .video-responsive
        position relative
        padding-bottom 54.6%
        margin 20px 0
        iframe
            position absolute
            left 0
            top 0
            right 0
            bottom 0
            height 100%
            width 100%
    .line
        div
            width 50%
            margin 10px 0
            &:hover
                margin-top 10px
            img
                display block
                margin 0 auto
            span
                text-align center
                display block
                margin-top 10px
                &:hover
                    border none
    section#help-startups
        .clearfix
            margin 10px 0 !important
        .row-5
        .row-7
            float none
            width auto
            ul
                height auto
                text-align left
                font-size 0 !important
                li
                    display inline-block
                    float none
                    width auto
                    margin-right 20px

            .all-companies
                float none
                text-align left
                display block

//invest
+to(960px)
    section#legal
        padding 70px 0 0
        .center
            padding 20px
            border none

//activity
+to(960px)
    section#activity 
        padding-top 70px
        ul.filter
            text-align left
            margin 20px 0
            li
                margin-bottom 10px
        #activity-list
            margin-top 20px
+to(767px)
    section#activity ul.filter 
        li 
            display block
            a
                display block
                text-align center
    section#activity 
        overflow hidden
        #activity-list
            background-position -130px center
        #activity-circle
            margin 0 0 30px 3px
        .row-10
            width auto
            padding-right 20px
        li .row-2
            float none
            width auto
            padding-left 33px
            text-align left !important
            img
                margin-left 5px
            span.icon
                float none !important
                display inline-block
            .tag
                position static !important
                margin-left 20px
//startup
+to(767px)
    #startup_detail 
        .info
            padding-top 70px
            .video
                position relative
                padding-bottom 56.5%
                iframe
                    position absolute
                    left 0
                    top 0
                    right 0
                    bottom 0
                    height 100% !important
                    width 100% !important
            .name
                margin-top 20px
            .link
                margin 0

+to(480px)
    #startup_profile
        background white !important
    #startup_detail .info .logo
        max-width none
        width 100%
        max-height none
        height auto
//mentor
+to(960px)
    section#mentor-single
        padding 0
    body.layer-single #mentor-single .center .archive
        margin-bottom 0
    section#mentor-single .center
        width auto
    section#portfolio #mentors ul
        text-align center
        div
            display inline-block
        li
            float none
            display inline-block
+to(767px)
    section#mentor-single 
        .archive 
            .image-container
                display block
                text-align center
                float none
            .head-body
                margin 0
                display block
                width auto
+to(480px)
    section#portfolio #mentors ul div
        display block
        li
            display block
            width auto
            height auto
            a
                height auto
            img
                width 100%
                height auto
//post
+to(767px)

    section#blogpost 
        .content
            overflow hidden
            h1
                font-size 45px
        .post 
            img
                height auto !important
            .paragraph
                padding 0 20px

//team
#starters
    .card
        text-align center
        > div
            display inline-block
            vertical-align top
#team
    .cards
        text-align center
        font-size 0
+to(480px)
    .card li .content
        min-height initial 
    section#portfolio #team 
        ul
            li
                display block
                width auto
                .card
                    height auto
                img
                    width 100%
                    height auto
        
    
//startups
#select-type
#select-batch
#select-experts
    display none

+to(767px)
    #filter_cool
        margin-bottom 0
    #starters 
        padding 20px 10px !important
        .card
            margin-top 0
            // min-height auto !important
            margin-bottom 0
    section#portfolio
        #search
            padding 20px !important
            h6
                padding 30px 10px
                margin-top 20px !important

        input[type="search"]
            font-size 20px
            margin 20px auto
            width 96%
        p
            margin 0 auto  !important
            width 90%
    #select-type
    #select-batch
    #select-experts
        display block
        margin 0 2%
        width auto
        width 96%
    #filter_cool .filter_cool
        display none
//footer
+to(767px)
    footer
        text-align center
        padding 40px 20px
        .center > div
            float none
            display inline-block
            width auto
            text-align left
            &.sociales
                text-align center
        .logo
            display block !important
            text-align center !important
        .menu
            display none !important


.button-nav
.fixed-menu
.wrap-menu
    display none
+to(960px)
    .button-nav
    .fixed-menu
    .wrap-menu
        display block
    .button-nav
        -webkit-user-select none
        background red
        background url(http://selfservice.dstv.com/images/menu-icon.png)
        background-position center
        background-repeat no-repeat
        background-size 40px
        border-radius 50%
        cursor pointer
        height 50px
        position absolute
        right 0
        top 0
        user-select none
        width 50px

    .fixed-menu
        position relative
        // border-bottom 1px solid black
        color white
    .wrap-menu
        height 50px
        line-height 50px
        padding-left 10px
        text-transform uppercase
        font-weight bold

//header
+to(960px)
    header
        // position static !important
        background-color black !important
        height auto
        padding 0 !important
        width 100% !important
        border-right 1px solid black
        bottom initial
        position fixed !important
        margin 0 !important
        &#int
            height auto
            padding 0 !important
            border-left 0
            background black !important
            &.simple 
                background black !important
        &#staff
            nav a 
                color white
                &.active 
                &:hover
                    color white
        #logo 
            float none
            text-align center
            padding 10px auto
            display none
        nav
            float none
            margin 0
            display none
            a
                display block
                margin 0
                height 42px
                line-height 42px
                // border-bottom 1px solid black
                transition none
                padding 0 10px
                color white
                &.active
                &:hover
                    border-bottom none !important
                    padding 0 10px !important
                    background #F2F1F1
                    color white
//events
+to(960px)
    section#events 
        overflow hidden
        #top
            border-top 0
        .content
            #info-container
                float none
                width auto
                padding 0 30px
            .image-event
                right 500px
           
+to(767px)
    section#events 
        .content .info 
            h1
                font-size 50px
                line-height 50px
            h6:first-child
                margin-left 0
        #subscribe #form
            width auto
            input[type="submit"]
                width auto
+to(480px)
    section#events 
        .content .info h1
            font-size 40px
            line-height 40px
//startups
+to(960px)
    #startup_detail 
        .info
            width auto
            margin 0 20px

//accelerator
+to(960px)
    section#portfolio.accelerator-top #search
        padding 30px 0 0
        h6
            margin-top 30px
    section
        &#portfolio
            padding-top 50px
            &.accelerator-top 
                #mentors
                    padding 20px 10px !important
                    &.accelerator 
                        ul.area 
                            font-size 0
                            margin-top 30px
                            li
                                width 48%
                                float none
                                margin 1%
                                height auto
                                display inline-block
                                vertical-align top
                                padding 15px
                                margin-bottom 20px
                                &:hover
                                    transform none
    .accelerator-top 
        .video
            margin 20px auto 0
            max-width 960px
            padding-bottom 55.6%

            iframe
                bottom 0
                height 100%
                left 0
                position absolute
                right 0
                top 0
                width 100%

+to(767px)
    section
        &#portfolio
            &.accelerator-top 
                #mentors
                    &.accelerator 
                        ul.area 
                            li
                                width auto
                                display block
    section#portfolio.accelerator-top #mentors.accelerator #place-to-work
        padding-bottom 40px
    #locations
        display none
        + div
            display none
    h3
        font-size 30px
    section#portfolio.accelerator-top
        dd
            display block !important
        .questions
            padding-top 20px
        
+to(480px)
    #starters .card > div
        display block
    .card li
        width auto
        float none
        display block
    p.excerpt
        height auto
    .card li .image-container
        height auto
        // width auto
        text-align center
        display block
        margin-bottom 20px
        margin 0 auto 20px
        img
            width 100%
            height auto
+to(1000px)
    #activity-list
        li
            display none


