//home
+to(960px)
    body
        overflow auto !important
    section#home
        position static !important
        display none
    header
        &#int
            display block !important
    section#entrepreneurs
    #map-container
    section#team-home
    section#themes
    section#help-startups
    section#amazing
        padding-left 20px
        padding-right 20px
    #map-container #map
        width auto
        height auto
        img
            max-width 100%
            width auto
            height auto
            &:first-child
                position static
+to(767px)
    #info_square
        display none
    section#team-home 
        ul#date-500 
            li
                float none
                width auto
    .video-responsive
        position relative
        padding-bottom 54.6%
        margin 20px 0
        iframe
            position absolute
            left 0
            top 0
            right 0
            bottom 0
            height 100%
            width 100%
    .line
        div
            width 50%
            margin 10px 0
            &:hover
                margin-top 10px
            img
                display block
                margin 0 auto
            span
                text-align center
                display block
                margin-top 10px
                &:hover
                    border none
    #help-startups
        .clearfix
            margin 10px 0 !important
        .row-5
        .row-7
            float none
            width auto
            ul
                display none
            .all-companies
                float none
                text-align left
                display block

//invest
+to(960px)
    section#legal
        padding 0
        .center
            padding 20px
            border none

//activity
+to(960px)
    section#activity 
        ul.filter
            text-align left
            li
                margin-bottom 10px
+to(767px)
    section#activity 
        #activity-list
            background-position -130px center
        #activity-circle
            margin 0 0 30px 3px
        .row-10
            width auto
            padding-right 20px
        li .row-2
            float none
            width auto
            padding-left 33px
            text-align left !important
            img
                margin-left 5px
            span.icon
                float none !important
                display inline-block

//startup
+to(767px)
    #startup_detail 
        .info 
            .video
                position relative
                padding-bottom 56.5%
                iframe
                    position absolute
                    left 0
                    top 0
                    right 0
                    bottom 0
                    height 100% !important
                    width 100% !important

        
//team
#starters
    .card
        text-align center
        > div
            display inline-block
            vertical-align top

#team
    .cards
        text-align center
        font-size 0

//startups
#select-type
#select-batch
    display none

+to(767px)
    section#portfolio 
        #search
            padding 0
        input[type="search"]
            font-size 20px
            margin 20px auto
            width 96%
        p
            margin 0 auto  !important
            width 90%
    #select-type
    #select-batch
        display block
        margin 0 2%
        width auto
        width 96%
    #filter_cool .filter_cool
        display none
//footer
+to(767px)
    footer
        text-align center
        padding 20px 0
        .center > div
            float none
            display inline-block
            width auto
            text-align left
        .logo
            display block !important
            text-align center !important
        .menu
            display none !important

//header
+to(960px)
    header
        // position static !important
        background red
        height auto
        padding 0 !important
        width 200px !important
        border-right 1px solid black
        &#int
            height auto
            padding 0 !important
            border-left 0
        #logo 
            float none
            text-align center
            padding 10px auto
        nav
            float none
            margin 0
            a
                display block
                margin 0
                height 42px
                line-height 42px
                border-bottom 1px solid black
                transition none
                padding 0 10px
                &.active
                &:hover
                    border-bottom 1px solid black !important
                    padding 0 10px !important
                    background #F2F1F1

//startups
+to(960px)
    #startup_detail 
        .info
            width auto
            margin 0 20px

//accelerator
+to(960px)
    section
        &#portfolio
            &.accelerator-top 
                #mentors
                    &.accelerator 
                        ul.area 
                            font-size 0
                            li
                                width 48%
                                float none
                                margin 1%
                                height auto
                                display inline-block
                                vertical-align top
                                padding 15px
                                &:hover
                                    transform none
    .accelerator-top 
        .video
            margin 0 auto
            max-width 960px
            padding-bottom 55.6%
            iframe
                bottom 0
                height 100%
                left 0
                position absolute
                right 0
                top 0
                width 100%

+to(767px)
    section
        &#portfolio
            &.accelerator-top 
                #mentors
                    &.accelerator 
                        ul.area 
                            li
                                width auto
                                display block
    h3
        font-size 30px

+to(1000px)
    #activity-list
        li
            display none


