<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500.co</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/500.css" />
    <script src="/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400italic,700italic' rel='stylesheet' type='text/css'>
    <script src="/js/google-analytics.js"></script>
</head>
<body>
    <section id="error404">
        <div class="center">
            <div class="top">
                <div class="image-404"><img src="/img/error404.png"></div>
                <h5>We're sorry! The page you're<br>looking for is not here :(</h5>
            </div>
            <nav>
				<a href="/team">TEAM</a>
				<a href="/accelerator">ACCELERATOR</a>
				<a href="/startups">STARTUPS</a>
				<a href="/mentors">MENTORS</a>
				<a href="/events">EVENTS</a>
				<a href="/activity">ACTIVITY</a>
            </nav>
        </div>
    </section>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>