{% extends '../layouts/admin.html' %}

{% block title %}Activity list{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
	<i class="fa fa-file-o"></i>Activities
{% endblock %}

{% block content %}
<div class="row list-header">
	<div class="col-xs-6">
		<p class="title">Activity list.</p>
	</div>
	<div class="col-xs-6">
		<div class="input-group stand-alone">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input type="text" placeholder="Search" class="form-control searchbar">
		</div>
	</div>
</div>
<div id="startupsTable">

</div>
<div class="row">
	<div class="col-xs-12 text-right">
		<a href="/admin/activities/new" class="btn btn-success-alt">Add new</a>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/template" id="tableTemplate">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Slug</th>
				<th>Uploader</th>
			</tr>
		</thead>
		<tbody class="list-container">
		</tbody>
	</table>
</script>
<script type="text/template" id="tableRowTemplate">
	<td><%= item.title %></td>
	<td><%= item.slugStr %></td>
	<td><%= item.uploader && item.uploader.displayName %></td>
</script>
<script type="text/javascript" src="/js/vendors/underscore.js"></script>
<script type="text/javascript" src="/js/vendors/backbone.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/widgets/list.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	{% autoescape false %}
	window.activities = {{activities|json}};
	{% endautoescape %}

	var activityList = new window.Widgets.List({
		template : '#tableTemplate',
		itemTemplate : '#tableRowTemplate',
		itemTagName : 'tr',
		goTo : function() {
			window.location = '/admin/activities/' + this.model.get('_id');
		}
	});
	activityList.render().$el.appendTo('#startupsTable');
	activityList.fill(window.activities);

	window.widgets.activityList = activityList;

	var keyHandler = _.debounce(function(e) {
		var $this = $(e.target)
		window.widgets.activityList.empty();

		if($this.val()){
			$.post('/admin/activities/search',{search: $this.val() })
			.done(function(data){
				window.widgets.activityList.fill(data);
			});
		}else{
			window.widgets.activityList.fill(window.activities);
		}
	}, 500)
	$('.searchbar').on('keyup', keyHandler);
});
</script>
{% endblock %}