@media only screen and (max-width: 960px) {
  header {
    position: static !important;
    background: #f00;
  }
  header #logo {
    float: none;
  }
  header nav {
    float: none;
    margin: 0;
  }
  header nav a {
    display: block;
    margin: 0;
  }
}
@media only screen and (max-width: 960px) {
  section#portfolio.accelerator-top #mentors.accelerator ul.area {
    font-size: 0;
  }
  section#portfolio.accelerator-top #mentors.accelerator ul.area li {
    width: 48%;
    float: none;
    margin: 1%;
    height: auto;
    display: inline-block;
    vertical-align: top;
  }
  .accelerator-top .video {
    margin: 0 auto;
    max-width: 960px;
    padding-bottom: 55.6%;
  }
  .accelerator-top .video iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  #activity-list li {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  section#portfolio.accelerator-top #mentors.accelerator ul.area li {
    width: auto;
    display: block;
  }
}
