{% extends '../layouts/login.html' %}

{% block title %}Log in{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
	{% if error %}
	<div class="alert alert-danger">
		<button class="close" data-dismiss="alert">
			×
		</button>
		<i class="fa-fw fa fa-times"></i>
		<strong>Error!</strong> {{error}}.
	</div>
	{% endif %}
	<div class="logo">
		<img class="white" src="/img/500-white.png" alt="500">
	</div>
	<form class="form-signin" method="POST" action="/login">
		<p class="form-label">Email</p>
		<input type="email" name="email" class="form-control" placeholder="Email address" required="">
		<p class="form-label">Password</p>
		<input type="password" name="password" class="form-control" placeholder="Password" required="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	</form>
</div>
{% endblock %}