{% extends '../layouts/admin.html' %}

{% block title %}User list{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
	<i class="fa fa-users"></i>User managment
{% endblock %}

{% block content %}
<div class="row list-header">
	<div class="col-xs-6">
		<p class="title">User list.</p>
	</div>
	<div class="col-xs-6">
		<div class="input-group stand-alone">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input type="text" placeholder="Search" class="form-control searchbar">
		</div>
	</div>
</div>
<div id="userTable">
	
</div>
<div id="angelListUserList">
	
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
	$('.table .link').on('click', function(e){
		var $row = $(e.currentTarget);

		window.location = '/admin/users/' + $row.data('id');		
	});
});
</script>
{% endblock %}

{% block js %}
<script type="text/template" id="tableTemplate">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Type</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody class="list-container">			
		</tbody>
	</table>
</script>
<script type="text/template" id="listTemplate">
	<h2>On Angellist</h2>
	<div class="list-container row"></div>
</script>
<script type="text/template" id="tableRowTemplate">
	<td><%= item.displayName %></td>
	<td><%= item.username %></td>
	<td><%= item.type %></td>
	<td><%= item.active %></td>
</script>
<script type="text/template" id="listItemTemplate">
	<div class="panel">
		<div class="row angel-list-card-content">
			<% if( user.pic ){ %>
			<div class="col-xs-12 has-pic">
				<img src="<%= user.pic %>">
				<div>
					<h4><%= user.name %></h4>
					<a class="add-btn btn btn-success">.btn-success</a>
				</div>
			</div>
			<% }else{ %>
			<div class="col-xs-12">
				<h4><%= user.name %></h4>
				<a class="add-btn btn btn-success">.btn-success</a>
			</div>				
			<% }%>
		</div>
	</div>
</script>
<script type="text/javascript" src="/js/vendors/underscore.js"></script>
<script type="text/javascript" src="/js/vendors/backbone.js"></script>
<script type="text/javascript" src="/js/init.js"></script>
<script type="text/javascript" src="/js/widgets/list.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	{% autoescape false %}
	window.users = {{users|json}};
	{% endautoescape %}

	var userList = new window.Widgets.List({
		template : '#tableTemplate',
		itemTemplate : '#tableRowTemplate',
		itemTagName : 'tr',
		goTo : function() {
			window.location = '/admin/users/' + this.model.get('_id');
		}
	});
	userList.render().$el.appendTo('#userTable');
	userList.fill(window.users);

	window.widgets.userList = userList;

	var stoppedTyping;
	$('.searchbar').on('keyup', function(e){
		var $this = $(this);
		
		if (stoppedTyping) clearTimeout(stoppedTyping);

		stoppedTyping = setTimeout(function(){
			window.widgets.userList.empty();

			if($this.val()){
				var xhrSearch = $.post('/admin/users/search',{search: $this.val() });

				xhrSearch.done(function(data){
					window.widgets.userList.fill(data.hits);
				});
			}else{
				window.widgets.userList.fill(window.users);
			}
		}, 500);
	});
});
</script>
{% endblock %}