{% extends '../layouts/admin.html' %}

{% block title %}Activity list{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
	<i class="fa fa-file-o"></i>{{type|capitalize}}s
{% endblock %}

{% block content %}
<div class="row list-header">
	<div class="col-xs-6">
		<p class="title">{{type|capitalize}} list.</p>
	</div>
	<div class="col-xs-6">
		<a href="/admin/{{type}}/new" class="btn btn-success-alt pull-right">Add new</a>
	</div>
</div>
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody class="list-container">
			{% for post in posts %}		
			<tr class="listrow" data-id="{{post.id}}">
				<td>{{ post.title }}</td>
				<td>{{ post.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function () {
	$('.listrow').on('click', function(){
		var $item = $(this);
		var id = $item.data('id');

		window.location = '/admin/{{type}}/' + id;
	});
});
</script>
{% endblock %}